Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

chore: cleaned DocSearch searchParameters
  src/components/shared/search-box/search-box.view.js
Due: prettier --write, eslint --fix

Don't forbid await/async in examples - it will be supported in v0.43.0
  src/data/markdown/.eslintrc.js
Due: prettier --write, eslint --fix

Add details about FormData with a simple object (#1019)
  src/data/markdown/docs/05 Examples/01 Examples/09 data-uploads.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Limit the number of old Javascript API versions
  gatsby-node.js
  src/components/shared/version-switcher/version-switcher.view.js
  src/utils/versioning.js
Due: prettier --write, eslint --fix

Limit the number of old Javascript API versions to 3
  src/utils/versioning.js
Due: prettier --write, eslint --fix

Adding Tracetest to the list of integrations
  src/data/markdown/docs/04 integrations/07 Test management/05 tracetest.md
  src/images/doc-integrations/tracetest.png
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

test
  src/data/markdown/.eslintrc.js
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 redis/10 Client/Client-get.md
  src/data/markdown/docs/05 Examples/01 Examples/09 data-uploads.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add lang and version docsearch meta tags
  src/components/shared/search-box/search-box.view.js
  src/components/shared/seo/seo.view.js
  src/templates/doc-page.js
  src/templates/docs/breadcrumb-stub.js
  src/templates/docs/bundle-builder.js
  src/templates/docs/cloud.js
  src/templates/docs/examples.js
  src/templates/docs/explore-extensions.js
  src/templates/docs/extensions.js
  src/templates/docs/guides.js
  src/templates/docs/integrations.js
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix

fix: fix seo currentLanguage condition
  src/components/shared/seo/seo.view.js
Due: prettier --write, eslint --fix

Cloud reference, clean up language
  src/data/markdown/docs/03 cloud/07 Cloud reference/100 Test status codes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove inline old version notes
  src/data/markdown/docs/02 javascript api/03 k6-crypto/02-createHMAC- algorithm- secret -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/03-hmac- algorithm- secret- data- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/04-md4- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/05-md5- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/07-ripemd160- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/08-sha1- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/09-sha256- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/10-sha384- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/11-sha512- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/12-sha512_256- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/13-sha512_224- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/04 k6-data.md
  src/data/markdown/docs/02 javascript api/06 k6-execution.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 StatsD.md
  src/data/markdown/translated-guides/es/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove inline old version notes
  src/data/markdown/docs/02 javascript api/05 k6-encoding/b64encode- input- -encoding- -.md
  src/data/markdown/docs/02 javascript api/09 k6-http/10-file- data- -filename-- -contentType- -.md
  src/data/markdown/docs/02 javascript api/09 k6-http/60-FileData.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove old version notes
  src/data/markdown/docs/02 javascript api/01 Init context/open.md
  src/data/markdown/docs/02 javascript api/05 k6-encoding/b64decode- input- -encoding- -format-.md
  src/data/markdown/docs/02 javascript api/09 k6-http/10-set-response-callback-expectedStatuses.md
  src/data/markdown/docs/02 javascript api/09 k6-http/11-expected-statuses.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/20-Params.md
  src/data/markdown/docs/05 Examples/01 Examples/05 data-parameterization.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add lang and version docsearch meta tags
  src/components/shared/seo/seo.view.js
  src/templates/doc-page.js
  src/templates/docs/breadcrumb-stub.js
  src/templates/docs/bundle-builder.js
  src/templates/docs/cloud.js
  src/templates/docs/examples.js
  src/templates/docs/explore-extensions.js
  src/templates/docs/extensions.js
  src/templates/docs/guides.js
  src/templates/docs/integrations.js
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix

fixup! fixup! Don't forbid await/async in examples - it will be supported in v0.43.0
  src/data/markdown/.eslintrc.js
Due: prettier --write, eslint --fix

testing class with private fields
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 redis/10 Client/Client-get.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add requireConfigFile:false
  src/data/markdown/.eslintrc.js
Due: prettier --write, eslint --fix

maybe
  src/data/markdown/.eslintrc.js
Due: prettier --write, eslint --fix

fixup! maybe
  src/data/markdown/.eslintrc.js
Due: prettier --write, eslint --fix

fixup! fixup! maybe
  src/data/markdown/.eslintrc.js
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 redis/10 Client/Client-get.md
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

redo eslint configuration for examples
  src/data/markdown/.eslintrc.js
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Clarify intro of test status codes
  src/data/markdown/docs/03 cloud/07 Cloud reference/100 Test status codes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updating links for extensions from the protocols page
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

link load testing guide
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

link frontend vs backend video
  src/data/markdown/docs/30 xk6-browser/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

trim docs readme
  README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add link to load testing guide (#1033)
  src/data/markdown/docs/30 xk6-browser/01 Get started/01 Welcome.md
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add http.asyncRequest documentation
  src/data/markdown/docs/02 javascript api/09 k6-http.md
  src/data/markdown/docs/02 javascript api/09 k6-http/10-asyncRequest- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

update xk6-browser code examples to async/await
  src/data/markdown/docs/30 xk6-browser/01 Get started/01 Welcome.md
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Running xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/02 API.md
  src/data/markdown/docs/30 xk6-browser/02 API/01 Browser.md
  src/data/markdown/docs/30 xk6-browser/02 API/01 Browser/newcontext--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/01 Browser/newpage--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/newPage.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/setDefaultNavigationTimeout.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/setOffline.md
  src/data/markdown/docs/30 xk6-browser/02 API/03 BrowserType.md
  src/data/markdown/docs/30 xk6-browser/02 API/03 BrowserType/launch--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/04-element-handle.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/check--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/click--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/dblclick--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/dispatchevent--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/fill--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/focus--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/getattribute--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/hover--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/innerhtml--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/innertext--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/inputvalue--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/ischecked--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/isdisabled--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/iseditable--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/isenabled--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/ishidden--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/isvisible--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/press--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/selectoption--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/tap--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/textcontent--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/type--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/uncheck--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/waitfor--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/10-page.md
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/02 javascript api/09 k6-http/10-asyncRequest- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Some wording changes for http.request
  src/data/markdown/docs/02 javascript api/09 k6-http/10-request- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update wording for use of extensions
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/09 k6-http/10-asyncRequest- method- url- -body-- -params- -.md
  src/data/markdown/docs/02 javascript api/09 k6-http/10-asyncRequest- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
