Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update links to k8s operator tutorial
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/en/01 Getting started/05 resources.md
  src/data/markdown/translated-guides/es/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/es/01 Getting started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: convert page.goto to async
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: remove assertion section and just use checks
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: convert metrics to table and add warning block
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add condition for show-more-button in SearchBox
  src/components/shared/search-box/search-box.view.js
Due: prettier --write, eslint --fix

fix: add fix to filename
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `k6chaijs` reference on the `Checks` documentation
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/es/02 Using k6/03 Checks.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: add simple test on the welcome page
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/images/xk6-browser-test.png
  src/data/markdown/docs/30 xk6-browser/test.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: fix typo
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Get started, join intro, versioning, and auth
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/01 Get started.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/01 Introduction.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Retitle error handling to error reference
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/07 Error Handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

move start to "Test" page
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/04 Tests.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/05 Test Runs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

New error reference
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/07 Error reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Recorder; adds troubleshooting for 413 error
  src/data/markdown/translated-guides/en/04 Test authoring/02 Recording a session/01 Browser recorder.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Draft: show-more button fix (#831)
  src/components/shared/search-box/search-box.view.js
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: update doc as per reviews
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/images/Frontend-Backend-LoadTesting.png
  src/data/markdown/docs/30 xk6-browser/images/xk6-browser-test.png
  src/data/markdown/docs/30 xk6-browser/test.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: welcome page for xk6
  gatsby-node.js
  src/data/markdown/docs/30 xk6-browser/01 Getting started/01 Welcome.md
  src/data/markdown/docs/30 xk6-browser/01 Getting started/02 Installation.md
  src/data/markdown/docs/30 xk6-browser/01 Getting started/03 Running xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/01 Getting started/04 Metrics.md
  src/layouts/doc-layout/doc-layout.view.js
  src/utils/utils.node.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Change Welcome page
  gatsby-node.js
  src/components/pages/doc-welcome/k6-does-not/k6-does-not.component.js
  src/data/markdown/docs/30 xk6-browser/01 Getting started/01 Welcome.md
  src/data/markdown/docs/30 xk6-browser/01 Getting started/images/Frontend-Backend-LoadTesting.png
  src/data/markdown/docs/30 xk6-browser/02 API overview/01 Module Properties.md
  src/data/markdown/docs/30 xk6-browser/02 API overview/02 Browser-level APIs.md
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
  src/utils/utils.node.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Rest, edit endpoint docs
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/03 Organizations.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/04 Tests.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/05 Test Runs.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/06 Test Run Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud REST API: use domain to show the endpoint url
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/03 Organizations.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/04 Tests.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/05 Test Runs.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/06 Test Run Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud REST API directory in Cloud Docs
  gatsby-node.js
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/03 Organizations.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/04 Tests.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/05 Test Runs.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/06 Test Run Metrics.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/07 Error reference.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/01 Get started.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

change LI to k6
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/04 Tests.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/07 Error Handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud REST, clean intro docs
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/01 Introduction.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/02 Authentication.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/07 Error Handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add base k6/experimental/timers docs
  src/data/markdown/docs/02 javascript api/14 k6-experimental-timers.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fixes
  src/data/markdown/docs/02 javascript api/14 k6-experimental-timers.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add base k6/experimental/websockets documentation
  src/data/markdown/docs/02 javascript api/15 k6-experimental-websockets.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Create `ExperimentalBlockquote` module
  src/components/shared/experimental-blockquote/experimental-blockquote.view.js
  src/components/shared/experimental-blockquote/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 redis.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 timers.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/03 websockets.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix duplicated redirects
  gatsby-node.js
Due: prettier --write, eslint --fix

`lint:prose` accepts `redis`
  .vale/Vocab/docs/accept.txt
Due: none

Fix OSS result images
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Cloud/k6-cloud-results.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/CloudWatch/cloudwatch-k6-dashboard.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/CloudWatch/cloudwatch-k6-metrics.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/DataDog/datadog-performance-testing-metrics.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/DataDog/k6-datadog-dashboard.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/GrafanaCloud/grafana_cloud_create_api_key_metrics_publisher.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/GrafanaCloud/grafana_cloud_explore_k6.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/GrafanaCloud/grafana_cloud_explore_k6_metrics.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/GrafanaCloud/grafana_cloud_explore_k6_metrics_from_extension.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/GrafanaCloud/grafana_cloud_portal.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/GrafanaCloud/grafana_cloud_prometheus_configuration.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/InfluxDB-Grafana/grafana-configure-graph-panel.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/InfluxDB-Grafana/grafana-create-data-source.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/InfluxDB-Grafana/grafana-dave.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/InfluxDB-Grafana/grafana-edit-metric.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/InfluxDB-Grafana/grafana-new-dashboard.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/InfluxDB-Grafana/grafana-new-graph-panel.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/InfluxDB-Grafana/grafana-visualization.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/NewRelic/new-relic-dashboard.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/NewRelic/new-relic-data-explorer.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prom.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/TimescaleDB/dashboard-test-result.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/TimescaleDB/dashboard-test-runs.png
  src/data/markdown/translated-guides/en/03 Results output/images/[unused]-cli-get-started.png
  src/data/markdown/translated-guides/en/03 Results output/images/[unused]-cli-instructions.png
  src/data/markdown/translated-guides/en/03 Results output/images/[unused]-cli-screen.png
  src/data/markdown/translated-guides/en/03 Results output/images/[unused]-dashboard-listing-with-k6-dashboard.png
  src/data/markdown/translated-guides/en/03 Results output/images/[unused]-k6-cloud-output.png
  src/data/markdown/translated-guides/en/03 Results output/images/[unused]-onboarding-screen.png
  src/data/markdown/translated-guides/en/03 Results output/images/[unused]-test-results-new-result-screen.png
Due: none

Pricing/Smart-quote clean up
  src/data/markdown/docs/03 cloud/06 Your plan/03.1 Pricing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update TLS supported versions list
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/04 SSL-TLS/SSL-TLS version and ciphers.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
