Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Finished first draft
  src/data/markdown/translated-guides/en/06 Testing Guides/Guide for load testing websites - Draft.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Started end to end testing
  src/data/markdown/translated-guides/en/06 Testing Guides/Guide for load testing websites - Draft.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add indentify unique selectors section
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove business spin in intro paragraph
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add best practices and recommendations
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Added tips for realistic scripting
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add element verification section
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fixed 'breakpoint' spelling
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add browser-based testing tips
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add image for frontend perf
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
  src/data/markdown/translated-guides/en/06 Testing Guides/images/frontend-rendering.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove perf vs load section
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Merge section on realistic testing
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add backend image, protocol and browser script examples
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
  src/data/markdown/translated-guides/en/06 Testing Guides/images/backend-page-load-time.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix typo
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Linting and typos
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More linting
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Drop some extremely experimental extensions by mstoykov
  src/data/doc-extensions/extensions.json
Due: none

Add xk6-fixprotocol extension
  src/data/doc-extensions/extensions.json
Due: none

Update Cloud release notes
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Talk about lifecycle functions instead of global variables
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Change "used to" to purpose
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Change integrations links
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix

Arregla vinculos
  src/data/markdown/translated-guides/es/02 Using k6/02 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Examples, Add phrase "test data" to description
  src/data/markdown/docs/05 Examples/01 Examples/05 data-parameterization.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

v0.41 - grpc.loadProtoset
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/10-Client.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/20 Client/10-Client-load-importpaths-protoFiles copy.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/20 Client/11-Client-load-protoset.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

v0.41 - grpc.ConnectParams.{maxReceiveSize/maxSendSize}
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/20 Client/20-Client-connect-connect-address-params.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Deprecate xk6-chaos in favor of xk6-disruptor
  src/data/doc-extensions/extensions.json
Due: none

v0.41.0 - add grpc connect options and loadProtoset method (#866)
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/10-Client.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/20 Client/10-Client-load-importpaths-protoFiles copy.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/20 Client/11-Client-load-protoset.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/20 Client/20-Client-connect-connect-address-params.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add trailing-slash option (#850)
  gatsby-config.js
Due: prettier --write, eslint --fix

Fix PLZ link
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

Deprecate xk6-chaos in favor of xk6-disruptor (#867)
  src/data/doc-extensions/extensions.json
Due: none

feat: resolve xk6-browser requests
  gatsby-node.js
  src/components/pages/doc-page/doc-page-title-group/doc-page-title-group.module.scss
  src/components/pages/doc-page/doc-page-title-group/doc-page-title-group.view.js
  src/components/pages/doc-welcome/k6-does-not/k6-does-not.component.js
  src/components/templates/doc-page/doc-page.module.scss
  src/data/markdown/docs/30 xk6-browser/01 Get started.md
  src/data/markdown/docs/30 xk6-browser/01 Get started/01 Welcome.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/03 API.md
  src/layouts/doc-layout/doc-layout.view.js
  src/templates/doc-page.js
  src/utils/utils.node.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: move image path
  src/data/markdown/docs/30 xk6-browser/images/Frontend-Backend-LoadTesting.png
Due: none

Rephrase use cases on the homepage
  src/components/pages/doc-welcome/use-cases/use-cases.view.js
  src/i18n/guides-translations.js
Due: prettier --write, eslint --fix

Update src/data/markdown/docs/30 xk6-browser/01 Get started/03 Running xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/30 xk6-browser/02 xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
