Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

disruptor/examples/http: update in-text snippets to match source code (#1250)
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/02 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reorder `Cloud Docs` header menu
  gatsby-node.js
Due: prettier --write, eslint --fix

Update 05 resources.md
  src/data/markdown/translated-guides/en/01 Get started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix Public Key
  src/data/markdown/translated-guides/en/01 Get started/02 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: align mobile header with other projects
  src/components/shared/page-info/page-info.module.scss
  src/layouts/doc-layout/doc-layout.module.scss
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

addpage object model example
  src/data/markdown/translated-guides/en/03 Using k6 browser/100 Examples.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/100 Examples/01 Page object model pattern.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix lint issues
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/04 ramping-vus.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/100 Examples/01 Page object model pattern.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/03 Using k6 browser/100 Examples.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/100 Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document restrictions with port forwarding
  .eslintignore
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add k6 forum migration banner
  gatsby-config.js
Due: prettier --write, eslint --fix

bypass es-lint length
  gatsby-config.js
Due: prettier --write, eslint --fix

remove emoji
  gatsby-config.js
Due: prettier --write, eslint --fix

update emoji
  gatsby-config.js
Due: prettier --write, eslint --fix

longer text
  gatsby-config.js
Due: prettier --write, eslint --fix

Apply suggestions from code review
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add k6 forum migration banner (#1266)
  gatsby-config.js
Due: prettier --write, eslint --fix

Document restrictions with port forwarding (#1264)
  .eslintignore
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update extensions.json
  src/data/doc-extensions/extensions.json
Due: none

add instructions on how to run k6 browser tests in Docker
  src/data/markdown/translated-guides/en/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/02 Running browser tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add browser page close notice
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/newpage--options--.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/02 Running browser tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove banner and change community forum url
  gatsby-config.js
  src/components/blocks/footer/footer.view.js
  src/components/shared/helper-widget/helper-widget.js
  src/data/markdown/docs/05 Examples/01 Examples/24 distribute-workloads.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/posts/2020-01-15--load-impact-v3-end-of-life/index.md
  src/data/markdown/translated-guides/en/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/en/01 Get started/05 resources.md
  src/data/markdown/translated-guides/en/07 Testing Guides/05 Running distributed tests.md
  src/data/markdown/translated-guides/es/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/es/01 Get started/05 resources.md
  src/templates/docs/explore-extensions.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

disable banner and change community forum url (#1272)
  gatsby-config.js
  src/components/blocks/footer/footer.view.js
  src/components/shared/helper-widget/helper-widget.js
  src/data/markdown/docs/05 Examples/01 Examples/24 distribute-workloads.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/posts/2020-01-15--load-impact-v3-end-of-life/index.md
  src/data/markdown/translated-guides/en/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/en/01 Get started/05 resources.md
  src/data/markdown/translated-guides/en/07 Testing Guides/05 Running distributed tests.md
  src/data/markdown/translated-guides/es/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/es/01 Get started/05 resources.md
  src/templates/docs/explore-extensions.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Bump jslib-aws references to v0.8.1
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SQSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SignatureV4.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 abortMultipartUpload(bucketName, objectKey, uploadId).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 completeMultipartUpload(bucketName, objectKey, uploadId, parts).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 createMultipartUpload(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 uploadPart(bucketName, objectKey, uploadId, partNumber, data) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3MultipartUpload.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3Part.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 listQueues.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 sendMessage.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 deleteSecret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 presign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/00 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/90 SystemsManagerParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Correcting minor typos on ramping arrival rate example
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add jslib-aws s3.copyObject operation's documentation
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 copyObject.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Thresholds.md javascript codeblocks adds
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 04 Thresholds.md
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add xk6-coap extension
  src/data/doc-extensions/extensions.json
Due: none

Thresholds.md javascript codeblocks adds (#1274)
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add jslib-aws s3.copyObject operation's documentation
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 copyObject.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Bump jslib-aws imports to version v0.9.0
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SQSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SignatureV4.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 abortMultipartUpload(bucketName, objectKey, uploadId).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 completeMultipartUpload(bucketName, objectKey, uploadId, parts).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 copyObject.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 createMultipartUpload(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 uploadPart(bucketName, objectKey, uploadId, partNumber, data) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3MultipartUpload.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3Part.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 listQueues.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 sendMessage.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 deleteSecret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 presign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/00 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/90 SystemsManagerParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update jslib-aws KMSClient's documentation to reflect new async syntax
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSKey.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update jslib-aws S3Client's documentation to reflect new async syntax
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 abortMultipartUpload(bucketName, objectKey, uploadId).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 completeMultipartUpload(bucketName, objectKey, uploadId, parts).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 copyObject.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 createMultipartUpload(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 uploadPart(bucketName, objectKey, uploadId, partNumber, data) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3MultipartUpload.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3Part.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update jslib-aws SQSClient's documentation to reflect new async syntax
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SQSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 listQueues.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 sendMessage.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Modify AWS blockquote warning to not mention synchronous code anymore
  src/components/shared/blocking-aws-blockquote/blocking-aws-blockquote.view.js
Due: prettier --write, eslint --fix

Update jslib-aws SystemsManagerClient's to demonstrate async syntax
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/00 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/90 SystemsManagerParameter.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update jslib-aws SecretsManager's documentation to reflect async syntax
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 deleteSecret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
