Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Deslugs a page
  src/data/markdown/docs/03 cloud/06 Your plan/04 Data Retention.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Redirect, from glob attempt to hardcoded
  gatsby-node.js
Due: prettier --write, eslint --fix

fix: breadcrumbs revisit
  src/components/templates/doc-page/breadcrumbs/doc-page-breadcrumbs.module.scss
  src/components/templates/doc-page/breadcrumbs/doc-page-breadcrumbs.view.js
Due: prettier --write, eslint --fix

chore: deleted dependabot config
  .github/dependabot.yml
Due: none

Hotfix/nested table style bug (#766)
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/components/shared/table-wrapper/table-wrapper.js
  src/components/shared/table-wrapper/table-wrapper.module.scss
Due: prettier --write, eslint --fix

chore: deleted dependabot config (#770)
  .github/dependabot.yml
Due: none

fix: breadcrumbs revisit (#769)
  src/components/templates/doc-page/breadcrumbs/doc-page-breadcrumbs.module.scss
  src/components/templates/doc-page/breadcrumbs/doc-page-breadcrumbs.view.js
Due: prettier --write, eslint --fix

Gatsby; removes inserted slash from og:url
  src/components/shared/seo/seo.view.js
Due: prettier --write, eslint --fix

fix: add fixes to mobile menu items
  src/components/blocks/mobile-nav/mobile-nav.module.scss
Due: prettier --write

[feat] Teams subscription update
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

The current version of Apache Kafka is deprecated
  src/data/doc-examples/links.json
  src/data/markdown/docs/04 integrations/04 Results visualization/02 apache-kafka.md
  src/data/markdown/docs/05 Examples/02 Tutorials/06 kafka.md
  src/data/markdown/translated-guides/en/01 Getting started/04 Results Output.md
  src/data/markdown/translated-guides/en/04 Results visualization/01 Apache Kafka.md
  src/data/markdown/translated-guides/es/01 Getting started/04 Results Output.md
  src/data/markdown/translated-guides/es/04 Results visualization/01 Apache Kafka.md
  src/data/markdown/translated-guides/es/04 Results visualization/07 JSON.md
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add password property to tlsAuth option as per v0.38
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
  src/data/markdown/translated-guides/es/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Correct `grpc.Params` object for an example
  src/data/markdown/docs/02 javascript api/10 k6-net-grpc/10-Client.md
  src/data/markdown/docs/02 javascript api/10 k6-net-grpc/20-Params.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix linting error - replace double quotes with single quotes
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
  src/data/markdown/translated-guides/es/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix linting error - extra whitespace
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add fix to position of anchor in DescriptionList
  src/components/shared/description-list/description-list.module.scss
  src/components/shared/description-list/description-list.view.js
Due: prettier --write, eslint --fix

fix: move anchors to the right in DescriptionList on mobile screens
  src/components/shared/description-list/description-list.module.scss
Due: prettier --write

fix: move anchors to the right in content on mobile screens
  src/components/shared/heading/heading.module.scss
  src/components/shared/heading/heading.view.js
Due: prettier --write, eslint --fix

fix anchors position on mobile screens (#774)
  src/components/shared/description-list/description-list.module.scss
  src/components/shared/description-list/description-list.view.js
  src/components/shared/heading/heading.module.scss
  src/components/shared/heading/heading.view.js
Due: prettier --write, eslint --fix

[feat] Add Audit trail documentation
  src/data/markdown/docs/03 cloud/03 Manage/06 Audit Trail.md
  src/data/markdown/docs/03 cloud/03 Manage/images/Audit-Trail/audit-example.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Clarifies delayAbortEval behavior; new admonition
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Clarifies delayAbortEval behavior; new admonition (#776)
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add fixes to mobile nav (#767)
  src/components/blocks/mobile-nav/mobile-nav.module.scss
Due: prettier --write

chore: added currentUrl slash check
  src/components/shared/seo/seo.view.js
Due: prettier --write, eslint --fix

Gatsby; removes inserted slash from og:url (#772)
  src/components/shared/seo/seo.view.js
Due: prettier --write, eslint --fix

[fix] Feedback amends
  src/data/markdown/docs/03 cloud/03 Manage/06 Audit Trail.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

No list bullets for the short list; bullets for the long one
  src/data/markdown/docs/03 cloud/03 Manage/06 Audit Trail.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: fix report link on Not-found page
  src/components/pages/404/not-found/not-found.view.js
Due: prettier --write, eslint --fix

fix: fix report link on Not-found page (#777)
  src/components/pages/404/not-found/not-found.view.js
Due: prettier --write, eslint --fix

Correction for integrating K6 to Datadog
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Cloud Release notes
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Release notes.md
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Structure; replaces external links with infomap
  src/data/markdown/translated-guides/en/01 Getting started/05 Community.md
  src/data/markdown/translated-guides/en/01 Getting started/05 infomap.md
  src/data/markdown/translated-guides/en/07 Misc/07 Typescript.md
  src/data/markdown/translated-guides/en/07 Misc/08 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Prose linting fixes
  src/data/markdown/translated-guides/en/01 Getting started/05 infomap.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More prose linting fixes
  src/data/markdown/translated-guides/en/01 Getting started/05 infomap.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Expanding extensions to include some new discoveries
  src/data/doc-extensions/extensions.json
Due: none

Adds test servers
  src/data/markdown/translated-guides/en/01 Getting started/05 infomap.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update: Updated New Relic IO Quickstart Link
  src/data/markdown/translated-guides/en/04 Results visualization/09 NewRelic.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Resources, trim, re-organize, and retitle
  src/data/markdown/translated-guides/en/01 Getting started/05 infomap.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Retitle info map to resources
  src/data/markdown/translated-guides/en/01 Getting started/05 infomap.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
