Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Update PLZ links to Grafana Cloud docs
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/08 Misc/09 Glossary.md
  src/data/markdown/translated-guides/es/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

WIP 1
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete Prometheus RW docs
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/k6-prometheus-dashboard-part1.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/k6-prometheus-dashboard-part2.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/k6-prometheus-dashboard.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/list-provisioned-prometheus-dashboards.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/query-k6-metrics-in-the-prometheus-web-ui.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: update k6 browser documentation
  src/data/markdown/translated-guides/en/03 Using k6 browser/01 Overview.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/02 Running browser tests.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/04 Migrating to k6 v0-46.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/translated-guides/en/03 Using k6 browser/01 Overview.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/02 Running browser tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Grafana Cloud Prometheus
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Grafana Cloud Prometheus.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor updates GC Prometheus
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Grafana Cloud Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `Grafana Dashboards` page
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add redirect to see if it fixes xk6-disruptor 404 link
  gatsby-node.js
Due: prettier --write, eslint --fix

Add explanation to B2C example
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rewrite intro
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Grafana Cloud Prometheus.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Grafana Cloud Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update command examples to skip `my_` or `your_` prefixes
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Grafana Cloud Prometheus.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Replace `utilize` for `use`
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update docs for new prometheus dashboards (#1344)
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Grafana Cloud Prometheus.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/k6-prometheus-dashboard-part1.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/k6-prometheus-dashboard-part2.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/k6-prometheus-dashboard.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/list-provisioned-prometheus-dashboards.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Prometheus/query-k6-metrics-in-the-prometheus-web-ui.png
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove non-existing arguments from aws' SignatureV4 constructor
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SignatureV4.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 presign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/translated-guides/en/03 Using k6 browser/01 Overview.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/04 Migrating to k6 v0-46.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestion from code review
  src/data/markdown/translated-guides/en/03 Using k6 browser/04 Migrating to k6 v0-46.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document the aws jslib's EventBridge support
  src/data/markdown/docs/20 jslib/01 jslib/01 aws.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 EventBridge.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/EventBridgeClient/putEvents.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove thresholds on examples
  src/data/markdown/docs/05 Examples/01 Examples/10 api-crud-operations.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix lint errors
  .eslintignore
  gatsby-node.js
  src/data/markdown/docs/05 Examples/01 Examples/10 api-crud-operations.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add links to libs, add example headings
  src/data/markdown/docs/05 Examples/01 Examples/10 api-crud-operations.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 05 Cloud APM.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

typo
  src/data/markdown/translated-guides/en/02 Using k6/09 Cookies.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Cloud APM deprecated warning for all pages
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 07 Prometheus Remote Write.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 EventBridge.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 EventBridge.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update references to jslib-aws to v0.10.0
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SQSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SignatureV4.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/00 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/00 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/90 KMSKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 abortMultipartUpload(bucketName, objectKey, uploadId).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 completeMultipartUpload(bucketName, objectKey, uploadId, parts).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 copyObject.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 createMultipartUpload(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/00 uploadPart(bucketName, objectKey, uploadId, partNumber, data) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3MultipartUpload.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/90 S3Part.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 listQueues.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SQSClient/00 sendMessage.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 deleteSecret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/00 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 presign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/00 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/90 SystemsManagerParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

k6-operator: switch to TestRun CRD instead of K6 CRD
  src/data/markdown/translated-guides/en/07 Testing Guides/05 Running distributed tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reorganize disruptor get-started
  .eslintignore
  gatsby-node.js
  src/data/markdown/docs/40 xk6-disruptor/00 About.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 First steps.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add deprecation warning for statsd output
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 StatsD.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update links to new PLZ guide in GCk6 docs
  gatsby-node.js
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/08 Misc/09 Glossary.md
  src/data/markdown/translated-guides/es/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/templates/docs/cloud.js
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

Update PLZ links to Grafana Cloud docs (#1343)
  gatsby-node.js
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/08 Misc/09 Glossary.md
  src/data/markdown/translated-guides/es/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update en guides for using statsd extension
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Amazon CloudWatch.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 DataDog.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Netdata.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 NewRelic.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 StatsD.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update installation-instructions.view.js
  src/components/shared/installation-instructions/installation-instructions.view.js
Due: prettier --write, eslint --fix
