Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx/19 batch(requests).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/19 batch(requests).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix `Bienvenido` broken link
  src/data/markdown/translated-guides/es/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs for httpx v0.1.0 (#1120)
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx.md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/08 asyncRequest(method, url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/09 request(method, url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/10 get(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/11 post(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/12 put(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/13 patch(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/14 delete(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/15 options(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/16 head(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/17 trace(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/19 batch(requests).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/20 setBaseUrl(url).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/21 addHeader(key, value).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/22 addHeaders(object).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/23 clearHeader(name).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/24 addTag(key, value).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/25 addTags(object).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/26 clearTag(name).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `Read more` sections on Results output
  src/data/markdown/translated-guides/en/03 Results output/000-Overview.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/01 Crypto/01 getRandomValues.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/01 Crypto/01 getRandomValues.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/01 Crypto/02 randomUUID.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/01 Crypto/02 randomUUID.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/01 decrypt.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/01 decrypt.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/02 digest.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/03 encrypt.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/05 generateKey.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/06 importKey.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add output extension to read more
  src/data/markdown/translated-guides/en/03 Results output/000-Overview.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `Read more` sections on Results output (#1130)
  src/data/markdown/translated-guides/en/03 Results output/000-Overview.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Clarify that init is once per VU
  src/data/markdown/translated-guides/en/02 Using k6/06 Test lifecycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix small typo in scenarios
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix small typo in scenarios (#1132)
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add feedback from Pepe
  gatsby-node.js
  src/components/pages/doc-welcome/k6-does-not/k6-does-not.component.js
  src/components/pages/doc-welcome/use-cases/use-cases.view.js
  src/data/markdown/translated-guides/en/03 Using k6 browser/01 Overview.md
  src/data/markdown/translated-guides/en/08 Testing Guides/03 Load testing websites.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: made the sidebar scrollable
  gatsby-browser.js
  src/layouts/doc-layout/doc-layout.module.scss
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: refactor sidebar internal link click handler
  src/layouts/doc-layout/doc-layout.module.scss
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: refactor sidebar internal links
  src/layouts/doc-layout/doc-layout.module.scss
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: sidebar preserving scroll position
  gatsby-browser.js
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: sidebar scroll position
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: sidebar collapse button
  src/layouts/doc-layout/doc-layout.module.scss
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: update broken links
  src/data/markdown/translated-guides/en/03 Using k6 browser/02 Running browser tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove old `xk6-browser` redirects
  gatsby-node.js
Due: prettier --write, eslint --fix

fix: add missing redirect
  gatsby-node.js
Due: prettier --write, eslint --fix

fix: update broken links
  src/data/markdown/translated-guides/en/08 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Feat; update test type docs
  src/data/markdown/translated-guides/en/05 Test Types/00 Introduction.md
  src/data/markdown/translated-guides/en/05 Test Types/01 Smoke Testing.md
  src/data/markdown/translated-guides/en/05 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/05 Test Types/03 Stress testing.md
  src/data/markdown/translated-guides/en/05 Test Types/05 Soak Testing.md
  src/data/markdown/translated-guides/en/05 Test Types/06-spike-testing.md
  src/data/markdown/translated-guides/en/05 Test Types/07-breakpoint-testing.md
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-average-load-test-k6-script-example.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-average-load-test-overview.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-breakpoint-test-k6-script-example.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-breakpoint-test-overview.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-load-test-types-overview.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-smoke-test-k6-script-example.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-smoke-test-overview.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-soak-test-k6-script-example.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-soak-test-overview.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-spike-test-k6-script-example.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-spike-test-overview.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-stress-test-k6-script-example.png
  src/data/markdown/translated-guides/en/05 Test Types/images/chart-stress-test-overview.png
  src/data/markdown/translated-guides/en/05 Test Types/images/load-test-2.png
  src/data/markdown/translated-guides/en/05 Test Types/images/load-test.png
  src/data/markdown/translated-guides/en/05 Test Types/images/smoke-test-terminal-output.png
  src/data/markdown/translated-guides/en/05 Test Types/images/smoke-test.png
  src/data/markdown/translated-guides/en/05 Test Types/images/soak-test.png
  src/data/markdown/translated-guides/en/05 Test Types/images/spike-test.png
  src/data/markdown/translated-guides/en/05 Test Types/images/stress-test.png
  src/data/markdown/translated-guides/en/05 Test Types/images/test-types.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Standardize structure, lint scripts
  src/data/markdown/translated-guides/en/05 Test Types/00 Introduction.md
  src/data/markdown/translated-guides/en/05 Test Types/01 Smoke Testing.md
  src/data/markdown/translated-guides/en/05 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/05 Test Types/03 Stress testing.md
  src/data/markdown/translated-guides/en/05 Test Types/05 Soak Testing.md
  src/data/markdown/translated-guides/en/05 Test Types/06-spike-testing.md
  src/data/markdown/translated-guides/en/05 Test Types/07-breakpoint-testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove double period
  src/data/markdown/translated-guides/en/05 Test Types/00 Introduction.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Finished review of spanish version on API, moving on to next review
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add (non)grouped extensions UI
  src/components/pages/doc-extensions/extension-selection/extension-selection.module.scss
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/components/pages/doc-extensions/extension-selection/svg/grouped-list.inline.svg
  src/components/pages/doc-extensions/extension-selection/svg/non-grouped-list.inline.svg
Due: prettier --write, eslint --fix

feat: add extensions logo and delete checkbox
  src/components/shared/extension-card/extension-card.module.scss
  src/components/shared/extension-card/extension-card.view.js
Due: prettier --write, eslint --fix

Updating k6chaijs documentation to reflect latest version
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/31 config.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/34 expect.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/35 error handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: ExtensionCard logo
  src/components/shared/extension-card/extension-card.module.scss
  src/components/shared/extension-card/extension-card.view.js
Due: prettier --write, eslint --fix

fix: increase input and selects font-size
  src/components/pages/doc-extensions/extension-selection/extension-selection.module.scss
Due: prettier --write
