Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

checks, move clause to emphasize they are metrics
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

scenarios, rework top-level page
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/01 shared-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/02 per-vu-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/03 constant-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/04 ramping-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/07 externally-controlled.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

delete unnecessary example
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updates UUID example
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

UUID example, version 1 update
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Admin, remove og:urls from linkchecker
  .github/workflows/staging.yml
Due: none

Remove relative URLs
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove hacky url
  src/data/markdown/docs/30 xk6-browser/02 API/10-page.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Redis, rename options page to improve site search
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 redis/20 Redis options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

glossary, update link to load zones
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

metadocs, use all caps, remove old file
  CONTRIBUTING.md
  CONTRIBUTING/README.md
  CONTRIBUTING/gatsby-reference.md
  CONTRIBUTING/troubleshooting.md
  README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: update Gatsby to 4.8.0
  package-lock.json
  package.json
Due: none

feat: update Gatsby to 4.8.0 (#935)
  package-lock.json
  package.json
Due: none

metadocs, add admonition example syntax
  CONTRIBUTING/gatsby-reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

scenarios, clean up arrival rate doc
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Scenarios, clean up example text
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Use correct syntax highlighting in codeblock
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

scenarios, rework top-level page (#934)
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/01 shared-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/02 per-vu-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/03 constant-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/04 ramping-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/07 externally-controlled.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Scenario example, improve intro
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add restricted comma phrase for smoother reading
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

scenario example, shorten text
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Documenting the exlude-env-vars
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add docs for trending metrics
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/dashboard-perf-trending.png
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/perf-trending-project.png
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/perf-trending-test.png
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/performance-trending.png
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/trending-metric-tutorial-1.png
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/trending-metric-tutorial-2.png
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/trending-metric-tutorial-3.png
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/09-Performance-Trending/trending-metric-tutorial-4.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Revert "feat: update Gatsby to 4.8.0 (#935)"
  package-lock.json
  package.json
Due: none

Apply PR fixes
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Bump aws jslib links to v0.7.0
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/01 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/02 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/03 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/04 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/05 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/01 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/02 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/98 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/99 KMSKey.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/01 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/02 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/03 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/04 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/05 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/98 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/99 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/01 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/02 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/03 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow: 30, noRecovery: false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/05 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/01 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SystemsManagerClient/99 SystemsManagerParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add documentation for jslib-aws SignatureV4
  src/data/markdown/docs/20 jslib/01 jslib/01 aws.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/06 SignatureV4.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/01 sign().md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/02 presign().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add caption support for mdx images
  CONTRIBUTING/gatsby-reference.md
  gatsby-config.js
  src/components/blocks/html-content/html-content.scss
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Include Testkube
  src/components/pages/doc-integrations/external-links-dashboard/external-links-dashboard.module.scss
  src/components/pages/doc-integrations/external-links-dashboard/external-links-dashboard.view.js
  src/data/markdown/docs/04 integrations/07 Test management/03 testkube.md
  src/data/markdown/docs/04 integrations/07 Test management/04 xray.md
  src/images/doc-integrations/testkube.png
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add caption on k6 Cloud Notifications image
  src/data/markdown/docs/03 cloud/03 Manage/03 Notifications.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Change title
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add fallback fonts, using fontpie
  src/styles/parts/fonts.scss
  src/styles/variables.scss
Due: prettier --write
