Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

ci: update workflows
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  package.json
Due: none

chore: return back "lint:prose" script
  package.json
Due: none

parametrized exec function with multiple scenario
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

ci: add "files" and "vale_flags" to vale-action in workflows
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: fix value for "vale_flags" in vale-action in workflows
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Clustered execution is now officially supported
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
  src/data/markdown/translated-guides/es/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rename `Clustered` to `Distributed`
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
  src/data/markdown/translated-guides/es/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `yml/yaml` to vale vocabulary
  .vale/Vocab/docs/accept.txt
Due: none

Clustered execution is supported (#682)
  .vale/Vocab/docs/accept.txt
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
  src/data/markdown/translated-guides/es/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Moves options page to k6-options/reference
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Makes top-level options list page
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds how to page for different ways to use options
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Redirects options page to new reference page
  gatsby-node.js
Due: prettier --write, eslint --fix

removes unneeded options diagram
  src/data/markdown/translated-guides/en/02 Using k6/images/Options/order-of-precedence.svg
Due: none

Cloud release note: fix typo
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/03 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

"There is" prose linting
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More prose linting fixes
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds a little syntax to mimic a definition list
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

markdown syntax fix
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Set `vale` version on github actions
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Add npm vale-bin package and update `lint:prose` command
  package-lock.json
  package.json
Due: none

Bring order of precedence diagram back.
  src/data/markdown/translated-guides/en/02 Using k6/images/order-of-precedence.png
Due: none

Fix prose linting errors
  .vale/Vocab/docs/accept.txt
  src/data/markdown/translated-guides/en/01 Getting started/04 Results Output.md
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/01 HTTP-2.md
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/04 SSL-TLS/Online Certificate Status Protocol -OCSP-.md
  src/data/markdown/translated-guides/en/03 Test authoring/02 Recording a session/02 Har converter.md
  src/data/markdown/translated-guides/en/04 Results visualization/02 Cloud.md
  src/data/markdown/translated-guides/en/06 Testing Guides/04 Running large tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds order of precedence to how-to
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

removes order of precedence from options list
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

moves incorrect adjective
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 01 How to.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Make anchor match its cli phrasing
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix diagram path
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Clean order of precedence add CLI flag to example
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

How-to; adds k6 variables example and cleans text up
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More accurate description of how to page
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
