Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Apply suggestion from the code review
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/11 Request.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/11 Request/size.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/12-response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rename `Grafana Cloud` to `Grafana Cloud Prometheus`
  gatsby-node.js
  src/data/markdown/docs/04 integrations/04 Results visualization/00 grafana-cloud.md
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Grafana Cloud Prometheus.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Prometheus remote write.md
  src/data/markdown/translated-guides/es/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/es/04 Results visualization/05 Grafana Cloud.md
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove aggregation method from intro
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Restructure metrics (#1151)
  src/data/markdown/docs/05 Examples/01 Examples/23 get-timings-for-an-http-metric.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/000-reference.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/100 Create custom metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: some formatting changes
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix; unbreak links
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/000-reference.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/100 Create custom metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: new links to diff metric topics
  src/data/markdown/docs/02 javascript api/10 k6-metrics.md
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix: fix incorrect meta-data
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/100 Create custom metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix: clean up language about metric aggregation
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

clean ramping arrival script comments
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix, change ramping arrival screenshot
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/images/ramping-arrival-rate.png
Due: none

[feat] add pathfinder page for grafana dashboards
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rewrite `Grafana dashboards` first version
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
  src/data/markdown/translated-guides/en/04 Results output/images/correlated-grafana-dashboard-grafana-cloud-k6.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reorder the structure and internal links for the new `InfluxDB` documentation
  gatsby-node.js
  src/components/pages/doc-integrations/doc-icons-row/doc-icons-row.view.js
  src/data/markdown/docs/04 integrations/04 Results visualization/00 influxdb-grafana.md
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB - Grafana.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB.md
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
  src/data/markdown/translated-guides/es/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/es/04 Results visualization/05 Grafana Dashboards.md
  src/data/markdown/translated-guides/es/04 Results visualization/06 InfluxDB - Grafana.md
  src/svg/influxdb-grafana.inline.svg
  src/svg/influxdb.inline.svg
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: add k6 version for the browser module
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/01 Overview.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add explanation of the extension graduation process
  src/data/markdown/docs/07 extensions/02 Explanations/010-extensions-registry.md
  src/data/markdown/docs/07 extensions/02 Explanations/020-go-js-bridge.md
  src/data/markdown/docs/07 extensions/02 Explanations/030-extension-graduation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove xk6-kubernetes from xk6-disruptor build
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] delete sleep and comment from arrival rate
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken code block
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] untitle some admonition blockquotes
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
  src/data/markdown/translated-guides/en/02 Using k6/06 Test lifecycle.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
  src/data/markdown/translated-guides/en/08 Testing Guides/01 API load testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Improve text for extension graduation and include infographic
  src/data/markdown/docs/07 extensions/02 Explanations/030-extension-graduation.md
  src/data/markdown/docs/07 extensions/02 Explanations/images/extension-graduation.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: consistent blockquote title style
  src/components/shared/blockquote/blockquote.module.scss
Due: prettier --write

fix: extensions counts when filtering
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/components/shared/form-message/form-message.view.js
  src/templates/docs/bundle-builder.js
Due: prettier --write, eslint --fix

Update 06 k6-execution.md
  src/data/markdown/docs/02 javascript api/06 k6-execution.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete new InfluxDB v2 instructions
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/InfluxDB/influxdb-data-explorer-k6-bucket.png
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: initial commit for page api documentation
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/01 Browser class/newcontext--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/01 Browser class/newpage--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/bringToFront.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/check--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/click--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/close.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/content.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/context.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/dblclick--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/dispatchEvent--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/emulateMedia--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/emulateVisionDeficiency--type--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/evaluate.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/evaluateHandle.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/fill--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/focus--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/frames.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/getattribute--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/goto--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/hover--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/innerhtml--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/innertext--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/inputvalue--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/ischecked--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/isclosed--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/isdisabled--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/iseditable--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10-page.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[chore] Skip k6 twitter from linkchecker
  .github/workflows/staging.yml
Due: none

[feat] clarify k6/execution counter descriptions
  src/data/markdown/docs/02 javascript api/06 k6-execution.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: consistent blockquote title style (#1164)
  src/components/shared/blockquote/blockquote.module.scss
Due: prettier --write

Update src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Change old redirects
  gatsby-node.js
Due: prettier --write, eslint --fix

New Grafana dashboards docs + InfluxDB update (#1161)
  gatsby-node.js
  src/components/pages/doc-integrations/doc-icons-row/doc-icons-row.view.js
  src/data/markdown/docs/04 integrations/04 Results visualization/00 influxdb-grafana.md
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB - Grafana.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/InfluxDB/influxdb-data-explorer-k6-bucket.png
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
  src/data/markdown/translated-guides/en/04 Results output/images/correlated-grafana-dashboard-grafana-cloud-k6.png
  src/data/markdown/translated-guides/es/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/es/04 Results visualization/05 Grafana Dashboards.md
  src/data/markdown/translated-guides/es/04 Results visualization/06 InfluxDB - Grafana.md
  src/svg/influxdb-grafana.inline.svg
  src/svg/influxdb.inline.svg
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix redirects
  gatsby-node.js
Due: prettier --write, eslint --fix

docs: more API documentation
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/isenabled--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/ishidden--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/isvisible--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/keyboard.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/locator.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/mainframe.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/mouse.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/opener.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/press--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/reload--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/screenshot--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/selectoption--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/setcontent--options--.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/setdefaultnavigationtimeout.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/setdefaulttimeout.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: lint issues
  .vale/Vocab/docs/accept.txt
Due: none

Install `vale` as dev dependency, remove and fix current `vale off` section
  .vale/Vocab/docs/accept.txt
  package-lock.json
  package.json
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 InfluxDB.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
