Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update TLS supported versions list (#837)
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/04 SSL-TLS/SSL-TLS version and ciphers.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] Remove duplicate Manage teams header
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update fail- -err- -.md
  src/data/markdown/docs/02 javascript api/02 k6/fail- -err- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] Remove duplicate Manage teams header (#838)
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update fail- -err- -.md (#839)
  src/data/markdown/docs/02 javascript api/02 k6/fail- -err- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

k6chaijs: complete `expect` API
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/34 expect.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

minor correction
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix `lint:prose` errors
  .vale/Vocab/docs/accept.txt
Due: none

k6chaijs: complete homepage
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/31 config.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix chai import
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/31 config.md
  src/data/markdown/docs/20 jslib/20 jslib.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

WIP - Update k6chaijs
  gatsby-node.js
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/31 config.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/32 plugins.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe(name, function) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/34 expect.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/35 error handling.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete Error handling
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/35 error handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

WIP k6chaijs
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/31 configuration.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe(name, function).md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/34 error handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

k6chaijs: update Describe
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

k6chaijs: update Expect
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/34 expect.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update k6chaijs documentation (#840)
  .vale/Vocab/docs/accept.txt
  gatsby-node.js
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/31 config.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/32 plugins.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe(name, function).md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/33 describe.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/34 error handling.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/34 expect.md
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs/35 error handling.md
  src/data/markdown/docs/20 jslib/20 jslib.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Gatsby, troubleshooting and code groups
  TROUBLESHOOTING.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rewrites HandleSummary() doc
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test/150-custom-summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Standardize standard terminology,
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test/150-custom-summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `k6chaijs` references
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/es/02 Using k6/03 Checks.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Welcome page: Quickstart -> Get started
  src/i18n/guides-translations.js
Due: prettier --write, eslint --fix

Fix link
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add redirects for each get-started page
  gatsby-node.js
Due: prettier --write, eslint --fix

redirect, typo fix
  gatsby-node.js
Due: prettier --write, eslint --fix

docs: fix lint
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: fix vocabulary errors
  .vale/Vocab/docs/accept.txt
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: convert metrics to table and add warning block
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: update doc as per reviews
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/images/Frontend-Backend-LoadTesting.png
  src/data/markdown/docs/30 xk6-browser/images/xk6-browser-test.png
  src/data/markdown/docs/30 xk6-browser/test.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: replace page.$ with page.locator
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: add simple test on the welcome page
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/images/xk6-browser-test.png
  src/data/markdown/docs/30 xk6-browser/test.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: fix typo
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: add note regarding page.$()
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: remove assertion section and just use checks
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: convert page.goto to async
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: expand on using Promise.all
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: welcome page for xk6
  gatsby-node.js
  src/data/markdown/docs/30 xk6-browser/01 Getting started/01 Welcome.md
  src/data/markdown/docs/30 xk6-browser/01 Getting started/02 Installation.md
  src/data/markdown/docs/30 xk6-browser/01 Getting started/03 Running xk6-browser.md
  src/data/markdown/docs/30 xk6-browser/01 Getting started/04 Metrics.md
  src/layouts/doc-layout/doc-layout.view.js
  src/utils/utils.node.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
