Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

adds missing article
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Standardizes keepTags warning
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

removes directional language
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove reference to launcher page
  gatsby-node.js
Due: prettier --write, eslint --fix

Refactor examples and docs to use chromium export
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 Browser.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 Browser/contexts.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 Browser/newcontext--options--.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 Browser/newpage--options--.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 Browser/on--event--.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/02 BrowserContext/browser.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/03-element-handle.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/07 Locator.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/09-page.md
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Change URL to Cloud REST API page
  src/data/markdown/docs/03 cloud/07 Cloud REST API/06 Cloud REST API.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

typo fixes
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds template for execution context (#747)
  src/data/markdown/translated-guides/en/02 Using k6/12 Execution context variables.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: styles for nested tables
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

running k6, cosmetic changes
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Glossary, more precise definition of Javascript
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: nested table tooltip support
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/components/shared/tooltip/bnit/bnit.js
  src/components/shared/tooltip/bwipt/bwipt.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud docs; clarify when token is required
  src/data/markdown/docs/03 cloud/04 Integrations/04 Token.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: logic for upcoming nested table
  src/components/shared/table-with-nested-rows/svg/collapsible-closed.inline.svg
  src/components/shared/table-with-nested-rows/svg/collapsible-open.inline.svg
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add component TableWithNestedRows
  src/components/shared/table-with-nested-rows/index.js
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: little bugs and content of response file
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: extended contributin file format
  .eslintignore
  CONTRIBUTING_FILE_FORMAT.md
  internal-images/table-with-nested-rows.png
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Clarify and standardize targetMetric description
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud, updated admonitions for perf insights
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add Outdated k6 Release Used to Performance Insights (#755)
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud; renames billing sidebar to "Your plan"
  gatsby-node.js
  src/data/markdown/docs/03 cloud/06 Your plan/01 Settings.mdx
  src/data/markdown/docs/03 cloud/06 Your plan/02 Subscription.md
  src/data/markdown/docs/03 cloud/06 Your plan/03 Billing.md
  src/data/markdown/docs/03 cloud/06 Your plan/04 Data Retention.md
  src/data/markdown/docs/03 cloud/06 Your plan/images/02-Subscription/subscription.png
  src/data/markdown/docs/03 cloud/06 Your plan/images/03-Billing/update-billing.png
  src/data/markdown/docs/03 cloud/06 Your plan/images/04-data-retention/set-as-baseline.png
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: adjusted contributing file format mark up
  CONTRIBUTING_FILE_FORMAT.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix prose linting and spelling errors
  .vale/Vocab/docs/accept.txt
  src/data/markdown/docs/03 cloud/02 Analyzing Results/04 Checks.md
  src/data/markdown/docs/03 cloud/03 Manage/02 Scheduled tests.md
  src/data/markdown/docs/03 cloud/04 Integrations/04 Token.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Unruins ruined reference page
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: fixed multiline cell styles in nested table component
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/components/shared/table-wrapper/table-wrapper.js
  src/components/shared/table-wrapper/table-wrapper.module.scss
Due: prettier --write, eslint --fix

fix: fixed selector in table wrapper
  src/components/shared/table-wrapper/table-wrapper.module.scss
Due: prettier --write

Standardizes spacing in Go snippets
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Ext, Places explanations before guides
  src/data/markdown/docs/07 extensions/03 Guides/02 bundling.md
  src/data/markdown/docs/07 extensions/03 Guides/03 develop.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Resections and rewords create-extension docs (#756)
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/02 Explanations/go-js-bridge.md
  src/data/markdown/docs/07 extensions/03 Guides/02 bundling.md
  src/data/markdown/docs/07 extensions/03 Guides/03 develop.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

link fixes
  src/data/markdown/docs/03 cloud/01 Creating and running a test/03 script editor.md
  src/data/markdown/docs/03 cloud/04 Integrations/04 Token.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add fixes to mobile nav
  src/components/blocks/mobile-nav/mobile-nav.module.scss
Due: prettier --write

Update Cloud release notes
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix prefix in Prometheus export, correct Datadog capitalization
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix a missing word
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Redirects all billing docs to /your-plan path
  gatsby-node.js
Due: prettier --write, eslint --fix

API; Returns disappeared response function
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Changes subscript slug, redirects, and permalinks
  gatsby-node.js
  src/data/markdown/docs/03 cloud/06 Your plan/02 Subscription.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

One more experiment with redirect globs
  gatsby-node.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
