Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Finish hybrid load testing section
  src/data/markdown/translated-guides/en/06 Testing Guides/Guide for load testing websites - Draft.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Started end to end testing
  src/data/markdown/translated-guides/en/06 Testing Guides/Guide for load testing websites - Draft.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove words and possesives
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] Update viewing results
  src/data/markdown/docs/03 cloud/03 Manage/06 Audit Trail.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] Update Audit Trail docs (#819)
  src/data/markdown/docs/03 cloud/03 Manage/06 Audit Trail.md
  src/data/markdown/docs/03 cloud/03 Manage/images/Audit-Trail/audit-example.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update AWS jslib documentation to fit v0.6.0
  src/data/markdown/docs/20 jslib/01 jslib/05 aws.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/04 SystemsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/05 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SystemsManagerClient/01 getParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SystemsManagerClient/99 SystemsManagerParameter.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update AWS examples to use latest version of the jslib
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/01 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/02 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/03 KMSClient.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/05 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/KMSClient/01 listKeys.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/KMSClient/02 generateDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/KMSClient/98 KMSDataKey.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/KMSClient/99 KMSKey.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/01 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/02 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/03 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/04 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/05 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/98 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/99 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/01 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/02 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/03 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow: 30, noRecovery: false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/05 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/99 Secret.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update k6-summary examples to use the latest version of the jslib
  src/data/markdown/docs/02 javascript api/13 k6-experimental-redis/10 Client.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/03 KMSClient.md
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test/150-custom-summary.md
  src/data/markdown/translated-guides/es/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/05 aws/SystemsManagerClient/99 SystemsManagerParameter.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SystemsManagerClient/99 SystemsManagerParameter.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Docs homepage: add browser testing use case
  src/components/pages/doc-welcome/use-cases/use-cases.view.js
  src/i18n/guides-translations.js
Due: prettier --write, eslint --fix

Change embedded video
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

docs/cloud; Add videos in a responsive iframe (#806)
  src/styles/parts/global.scss
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

Fix redirects after result visualization changes
  gatsby-node.js
Due: prettier --write, eslint --fix

Cloud: skip intro video iframe, set link to Playlist
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

Update src/templates/docs/cloud.js
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

prettier file
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

Cloud: skip intro video iframe, set link to Playlist (#824)
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

Resources; Add link to sample test scripts
  src/data/markdown/translated-guides/en/01 Getting started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Resources; Add link to sample test scripts (#825)
  src/data/markdown/translated-guides/en/01 Getting started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Resources, remove trailing slash
  src/data/markdown/translated-guides/en/01 Getting started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: fix lint
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Modifies content to put CSV and JSON in real-time
  src/data/markdown/translated-guides/en/03 Results output/000-Overview.md
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move CSV and JSON to real time
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Amazon CloudWatch.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Apache Kafka.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 CSV.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Cloud.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 DataDog.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Grafana Cloud.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 InfluxDB - Grafana.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 JSON.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Netdata.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 NewRelic.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 StatsD.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 TimescaleDB.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Use full path for easier searching
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

CSV/JSON, tail -f example and text cleanup
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 CSV.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 JSON.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

CSV/JSON; adds redirects
  gatsby-node.js
Due: prettier --write, eslint --fix

simplifies double redirect
  gatsby-node.js
Due: prettier --write, eslint --fix

Move CSV and JSON to real-time metrics (#827)
  gatsby-node.js
  src/data/markdown/translated-guides/en/03 Results output/000-Overview.md
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Amazon CloudWatch.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Apache Kafka.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 CSV.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Cloud.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 DataDog.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Grafana Cloud.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 InfluxDB - Grafana.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 JSON.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Netdata.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 NewRelic.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 StatsD.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 TimescaleDB.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: fix vocabulary errors
  .vale/Vocab/docs/accept.txt
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Feat: replace wip & nit icons (#798)
  src/components/shared/browser-wip/browser-wip.js
  src/components/shared/tooltip/bnit/bnit.js
  src/components/shared/tooltip/bwipt/bwipt.js
  src/data/markdown/docs/30 xk6-browser/30 xk6-browser.md
  src/svg/not-implemented.inline.svg
  src/svg/work-in-progress.inline.svg
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: add note regarding page.$()
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: replace page.$ with page.locator
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: expand on using Promise.all
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Examples, link to updated extensions tutorial
  src/data/markdown/docs/05 Examples/02 Tutorials/10 k6-extensions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud REST, clean intro docs
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/01 Introduction.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/02 Authentication.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/07 Error Handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

change LI to k6
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/04 Tests.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/07 Error Handling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rest, edit endpoint docs
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/03 Organizations.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/04 Tests.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/05 Test Runs.md
  src/data/markdown/docs/06 Cloud REST API/01 Cloud REST API/06 Test Run Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: remove wrong path for md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow: 30, noRecovery: false}}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
