Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: change best practices to recommended practices
  src/data/markdown/docs/30 xk6-browser/01 Get started/05 Selecting elements.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updates UUID example
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

UUID example, version 1 update
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

An example of using the experimental WebSockets module
  src/components/shared/experimental-blockquote/experimental-blockquote.view.js
  src/data/markdown/docs/02 javascript api/07 k6-experimental/03 websockets.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: update page.goto example to async
  src/data/markdown/docs/30 xk6-browser/03 API.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: update other API examples to use page.goto async
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/01 Browser.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/01 Browser/newcontext--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/01 Browser/newpage--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/02 BrowserContext/newPage.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/02 BrowserContext/setDefaultNavigationTimeout.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/02 BrowserContext/setOffline.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/03 BrowserType.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/03 BrowserType/launch--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/04-element-handle.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/check--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/click--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/dblclick--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/dispatchevent--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/fill--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/focus--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/getattribute--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/hover--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/innerhtml--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/innertext--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/inputvalue--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/ischecked--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/isdisabled--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/iseditable--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/isenabled--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/ishidden--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/isvisible--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/press--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/selectoption--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/tap--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/textcontent--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/type--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/uncheck--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/08 Locator/waitfor--options--.md
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser/10-page.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: apply suggestions from code review
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: rephrase async/await limitations
  src/data/markdown/docs/30 xk6-browser/02 xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Create redirects and update existing ones
  gatsby-node.js
Due: prettier --write, eslint --fix

Moving getStarted image
  src/data/markdown/docs/30 xk6-browser/01 Get started/images/Frontend-Backend-LoadTesting.png
Due: none

docs: minor update on code style
  src/data/markdown/docs/30 xk6-browser/01 Get started/01 Welcome.md
  src/data/markdown/docs/30 xk6-browser/02 API/01 Browser/contexts.md
  src/data/markdown/docs/30 xk6-browser/02 API/04-element-handle.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator.md
  src/data/markdown/docs/30 xk6-browser/02 API/10-page.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

cloud, add Static IPs section to IP reference (#858)
  src/data/markdown/docs/03 cloud/07 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Scenarios, mentions coordinated omission
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

typo fixes
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update keptn link
  src/data/markdown/docs/04 integrations/05 CI tools/11 keptn.md
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: update broken links in xk6-browser guide
  src/data/markdown/docs/30 xk6-browser/01 Get started/02 Installation.md
  src/data/markdown/docs/30 xk6-browser/01 Get started/03 Running xk6-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

delete unnecessary example
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

linter
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add admonition
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Soften warning and fix broken token
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply code review suggestion
  src/data/markdown/docs/02 javascript api/07 k6-experimental/03 websockets.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

provide comments
  src/data/markdown/docs/02 javascript api/07 k6-experimental/03 websockets.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Life-cycle, rename functions, justify design
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

An example of using the experimental WebSockets module (#870)
  src/components/shared/experimental-blockquote/experimental-blockquote.view.js
  src/data/markdown/docs/02 javascript api/07 k6-experimental/03 websockets.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix links
  src/components/shared/experimental-blockquote/experimental-blockquote.view.js
Due: prettier --write, eslint --fix

Fix links (#874)
  src/components/shared/experimental-blockquote/experimental-blockquote.view.js
Due: prettier --write, eslint --fix

feat: added ability to provide custom heading to doc pages
  gatsby-node.js
  src/components/pages/doc-page/doc-page-title-group/doc-page-title-group.module.scss
  src/components/pages/doc-page/doc-page-title-group/doc-page-title-group.view.js
  src/data/markdown/docs/30 xk6-browser/01 Get started/01 Welcome.md
  src/templates/doc-page.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: added ability to provide custom heading to doc pages (#875)
  gatsby-node.js
  src/components/pages/doc-page/doc-page-title-group/doc-page-title-group.module.scss
  src/components/pages/doc-page/doc-page-title-group/doc-page-title-group.view.js
  src/data/markdown/docs/30 xk6-browser/01 Get started/01 Welcome.md
  src/templates/doc-page.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Some terminology smoothing
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Life cycle to "lifecycle"
  gatsby-node.js
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Use the name `Grafana app` instead of `Grafana plugin`
  gatsby-node.js
  src/data/markdown/docs/03 cloud/02 Analyzing Results/11 Result Export.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/06 Grafana App.md
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Use the name `Grafana app` instead of `Grafana plugin` (#876)
  gatsby-node.js
  src/data/markdown/docs/03 cloud/02 Analyzing Results/11 Result Export.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/06 Grafana App.md
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove design justification
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add empty line
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

lint redirect code
  gatsby-node.js
Due: prettier --write, eslint --fix

remove other callback references
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test.md
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test/150-custom-summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Make contributor's meta documentation
  README.md
  contributors-guide/README.md
  contributors-guide/gatsby-reference.md
  contributors-guide/troubleshooting.md
  internal-images/release.svg
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

strip trailing whitespace
  contributors-guide/README.md
  contributors-guide/gatsby-reference.md
  contributors-guide/troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
