Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update k6/crypto to recommend the webcrypto API (#1224)
  src/components/shared/crypto-blockquote/crypto-blockquote.view.js
  src/components/shared/crypto-blockquote/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/03 k6-crypto.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/01-createHash- algorithm -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/02-createHMAC- algorithm- secret -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/03-hmac- algorithm- secret- data- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/04-md4- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/05-md5- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/06-randomBytes- int -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/07-ripemd160- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/08-sha1- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/09-sha256- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/10-sha384- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/11-sha512- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/12-sha512_256- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/13-sha512_224- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/80-Hasher.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 05 resources.md
  src/data/markdown/translated-guides/en/01 Get started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add missed blockquotes
  src/data/markdown/docs/02 javascript api/07 k6-experimental/07 grpc.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add base Metadata API documentation (#1207)
  src/data/markdown/docs/02 javascript api/06 k6-execution.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document k6 cloud --upload-only (#1206)
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document metric name restrictions (#1205)
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Sort experimental grpc module
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/10-Client.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/10-Client-load-importpaths-protoFiles copy.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/11-Client-load-protoset.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/20-Client-connect-connect-address-params.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/30-Client-invokerpc-url-request-params.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/40-Client-close.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20-Params.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/10-Stream-on.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/15-Stream-error.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/40-Stream-end.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/40-Stream-write.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30-Response.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/40-Constants.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/50-Stream.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Experimental grpc module (#1223)
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/10-Client.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/10-Client-load-importpaths-protoFiles copy.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/11-Client-load-protoset.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/20-Client-connect-connect-address-params.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/30-Client-invokerpc-url-request-params.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20 Client/40-Client-close.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/20-Params.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/10-Stream-on.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/15-Stream-error.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/40-Stream-end.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/40-Stream-write.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30-Response.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/40-Constants.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/50-Stream.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/000-reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: GRPC broken error link
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 grpc/30 Stream/10-Stream-on.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `gRPC` blockquote
  src/components/shared/grpc-blockquote/grpc-blockquote.view.js
  src/components/shared/grpc-blockquote/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/10-Client.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `gRPC` blockquote (#1229)
  src/components/shared/grpc-blockquote/grpc-blockquote.view.js
  src/components/shared/grpc-blockquote/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc/10-Client.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

scenario: fix unbalanced parenthesis (#1221)
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix typos and add missing options to aws jslib's sign() (#1202)
  src/data/markdown/docs/20 jslib/01 jslib/01 aws.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove legacy browser metrics
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/000-reference.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/01 Overview.md
  src/data/markdown/translated-guides/en/03 Using k6 browser/03 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Migration from v2 to v3 github actions
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

remove note about legacy browser metrics
  src/data/markdown/translated-guides/en/03 Using k6 browser/03 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

actions/github-script update
  .github/workflows/pr-deploy.yml
Due: none

mention headers in canonical form
  src/data/markdown/docs/02 javascript api/09 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: propagate analytics change
  gatsby-config.js
Due: prettier --write, eslint --fix

chore: added gtag dep
  package-lock.json
  package.json
Due: none

feat: extends guides category props and update style
  gatsby-node.js
  src/layouts/doc-layout/doc-layout.module.scss
  src/layouts/doc-layout/doc-layout.view.js
  src/templates/docs/breadcrumb-stub.js
Due: prettier --write, eslint --fix

Update extensions.json and change the extension name to xk6-proxy
  src/data/doc-extensions/extensions.json
Due: none

Rewrite test types
  src/data/markdown/translated-guides/en/06 Test Types.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: pass frontmatter robots to guides template
  src/templates/docs/breadcrumb-stub.js
Due: prettier --write, eslint --fix

mention headers in canonical form (#1232)
  src/data/markdown/docs/02 javascript api/09 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `robots` option to frontmatter and edit the markdown of the "category" guides (#1203)
  gatsby-node.js
  src/components/shared/seo/seo.view.js
  src/data/markdown/translated-guides/en/06 Test Types.md
  src/data/markdown/translated-guides/en/07 Testing Guides.md
  src/layouts/doc-layout/doc-layout.module.scss
  src/layouts/doc-layout/doc-layout.view.js
  src/templates/doc-page.js
  src/templates/docs/breadcrumb-stub.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Migration from v2 to v3 github actions (#1230)
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Update xk6-disruptor welcome page
  .eslintignore
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add xk6-output-plugin
  src/data/doc-extensions/extensions.json
Due: none

chore: fix PR deploy action to post a comment due to GH action upgrade
  .github/workflows/pr-deploy.yml
Due: none

chore: fix PR deploy action to post a comment (#1235)
  .github/workflows/pr-deploy.yml
Due: none

intro change
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Merge contributing/demos in `Learn more` + Update Get started
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rewrite key features
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add an example of output in the cookiesForUrl documentation
  src/data/markdown/docs/02 javascript api/09 k6-http/60 CookieJar/CookieJar-cookiesForUrl-url.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

vale accepts `Killercoda`
  .vale/Vocab/docs/accept.txt
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

update example
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
