Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Rename `Kebab` menu to `actions` menu
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rename filename to avoid unsupported chars on Windows
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/04 deleteSecret.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

ES Translation: Website and API guides
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/es/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

WIP reviewing writing, I am at line 91
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add extensions search
  src/components/pages/doc-extensions/extension-selection/extension-selection.module.scss
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/components/shared/extension-card/extension-card.view.js
  src/svg/search.inline.svg
  src/templates/docs/bundle-builder.js
Due: prettier --write, eslint --fix

Resources, update link to examples dir
  src/data/markdown/translated-guides/en/01 Get started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document the k6/experimental/webcrypto module
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/01 Crypto.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/01 Crypto/01 getRandomValues.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/01 Crypto/02 randomUUID.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/01 decrypt.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/02 digest.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/03 encrypt.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/04 exportKey.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/05 generateKey.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/06 importKey.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/07 sign.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/02 SubtleCrypto/08 verify.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/03 CryptoKey.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/04 AesKeyGenParams.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/05 HmacKeyGenParams.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/06 AesCtrParams.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/07 AesCbcParams.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/06 webcrypto/08 AesGcmParams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add disabled for default select options
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
Due: prettier --write, eslint --fix

Progress on verification API tests, at line 440
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs for httpx v0.1.0
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx.md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/08 asyncRequest(method, url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/10 get(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/11 post(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/12 put(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/13 patch(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/14 delete(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/15 options(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/16 head(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/17 trace(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/19 batch(requests).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/20 setBaseUrl(url).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/21 addHeader(key, value).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/22 addHeaders(object).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/23 clearHeader(name).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/24 addTag(key, value).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/25 addTags(object).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/26 clearTag(name).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add xk6-enhanced
  src/data/doc-extensions/extensions.json
Due: none

Update redis' documentation to reflect changes to type annotations
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-getset.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-lpush.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-mget.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-rpush.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sadd.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sendCommand.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-set.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sismember.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-srem.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-getset.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-getset.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sendCommand.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sendCommand.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sismember.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sismember.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-srem.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-srem.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sadd.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sadd.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-set.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-set.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-rpush.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-rpush.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-lpush.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-lpush.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore; remove workflow to publish graf-k6 docs
  .github/workflows/publish-technical-documentation.yml
Due: none

chore; remove workflow to publish graf-k6 docs (#1125)
  .github/workflows/publish-technical-documentation.yml
Due: none

Add `gpg -k` to Linux installation instructions
  src/data/markdown/translated-guides/en/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/en/01 Get started/02 Installation/01 Troubleshooting.md
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation.md
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `gpg -k` to Linux installation instructions (#1123)
  src/data/markdown/translated-guides/en/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/en/01 Get started/02 Installation/01 Troubleshooting.md
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation.md
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix: Rename the ES `Getting Started folder
  src/data/markdown/translated-guides/es/01 Get started/01 Welcome.md
  src/data/markdown/translated-guides/es/01 Get started/02 Installation.md
  src/data/markdown/translated-guides/es/01 Get started/02 Installation/01 Troubleshooting.md
  src/data/markdown/translated-guides/es/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/es/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/es/01 Get started/05 resources.md
  src/data/markdown/translated-guides/es/01 Get started/images/[unused]-cloud-insights-checks.png
  src/data/markdown/translated-guides/es/01 Get started/images/k6-results-stdout.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Chore; delete dir for migrated k6-app docs
  docs/.eslintrc.js
  docs/Makefile
  docs/README.md
  docs/docs.mk
  docs/sources/_index.md
  docs/sources/analyze-results/_index.md
  docs/sources/analyze-results/correlate-results-in-grafana.md
  docs/sources/analyze-results/get-performance-insights.md
  docs/sources/analyze-results/inspect-test-results.md
  docs/sources/analyze-results/share-test-results.md
  docs/sources/author-run/_index.md
  docs/sources/author-run/about-scenarios.md
  docs/sources/author-run/cloud-scripting-extras/_index.md
  docs/sources/author-run/cloud-scripting-extras/cloud-environment-variables.md
  docs/sources/author-run/cloud-scripting-extras/cloud-execution-context-variables.md
  docs/sources/author-run/cloud-scripting-extras/cloud-options.md
  docs/sources/author-run/cloud-scripting-extras/cloud-tags.md
  docs/sources/author-run/cloud-scripting-extras/load-zones.md
  docs/sources/author-run/schedule-a-test.md
  docs/sources/author-run/send-notifications.md
  docs/sources/author-run/test-builder.md
  docs/sources/author-run/tokens-and-cli-authentication.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/run-cloud-tests-from-the-cli.md
  docs/sources/get-started/run-your-first-tests.md
  docs/sources/get-started/vu-hours.md
  docs/sources/projects-and-users/_index.md
  docs/sources/projects-and-users/manage-project-members.md
  docs/sources/projects-and-users/projects.md
  docs/sources/projects-and-users/usage-reports.md
  docs/sources/reference/_index.md
  docs/sources/reference/audit-trails.md
  docs/sources/reference/cloud-ips.md
  docs/sources/reference/cloud-test-status-codes.md
  docs/sources/reference/query-types.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

chore, remove k6 app dir from eslint
  package.json
Due: none

fix selection map description
  src/data/markdown/docs/02 javascript api/08 k6-html/50 Selection.md
  src/data/markdown/docs/02 javascript api/08 k6-html/50 Selection/Selection-map-fn-.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix ES translations
  gatsby-config.js
  src/data/markdown/translated-guides/es/01 Get started/01 Welcome.md
  src/i18n/path-translations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx.md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx/09 request(method, url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/09 request(method, url, [body], [params]).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx/08 asyncRequest(method, url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/08 asyncRequest(method, url, [body], [params]).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix missing `redirectTarget` property
  src/data/markdown/translated-guides/es/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx/11 post(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/11 post(url, [body], [params]).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx/12 put(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/12 put(url, [body], [params]).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx/13 patch(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/13 patch(url, [body], [params]).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/02 httpx/15 options(url, [body], [params]).md
  src/data/markdown/docs/20 jslib/01 jslib/02 httpx/15 options(url, [body], [params]).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
