Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Update redis set commands examples with async/await syntax
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sadd.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-sismember.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-smembers.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-spop.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-srandmember.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-srem.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update description of redis' asynchronous API usage
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-decrby.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-expire.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-get.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-getdel.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-hkeys.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-hset.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-hsetnx.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-lrange.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis/10 Client/Client-lrem.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

using-k6, minor sentence trims
  src/data/markdown/translated-guides/en/02 Using k6/01 HTTP requests.md
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add xk6-top extension
  src/data/doc-extensions/extensions.json
Due: none

fix typo and missing metrics link
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 TimescaleDB.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add Elasticsearch output
  src/data/markdown/docs/04 integrations/04 Results visualization/14 elasticsearch.md
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Elasticsearch.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Elasticsearch/kibana-discover-test-result.png
  src/svg/elastic.inline.svg
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix lint:prose error
  .vale/Vocab/docs/accept.txt
Due: none

Document/elasticsearch output (#1104)
  .vale/Vocab/docs/accept.txt
  src/data/markdown/docs/04 integrations/04 Results visualization/14 elasticsearch.md
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Elasticsearch.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 TimescaleDB.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Elasticsearch/kibana-discover-test-result.png
  src/svg/elastic.inline.svg
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Integrations page: sort output results by name
  src/data/markdown/docs/04 integrations/04 Results visualization/00 amazon-cloudwatch.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 apache-kafka.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 cloud-service.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 csv.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 datadog.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 elasticsearch.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 grafana-cloud.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 influxdb-grafana.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 json.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 netdata.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 new-relic.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 prometheus.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 statsd.md
  src/data/markdown/docs/04 integrations/04 Results visualization/00 timescaledb.md
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

updates for empty dashboard state
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

broke 1 long step into 2
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 InfluxDB - Grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add dynatrace output
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Dynatrace.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Dynatrace/dynatrace-api-token.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Dynatrace/dynatrace-k6-metrics.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Dynatrace/dynatrace-k6-test-result.png
  src/svg/dynatrace.inline.svg
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

add dynatrace to allowed words
  .vale/Vocab/docs/accept.txt
Due: none

Document Dynatrace output (#1106)
  .vale/Vocab/docs/accept.txt
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Dynatrace.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Dynatrace/dynatrace-api-token.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Dynatrace/dynatrace-k6-metrics.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Dynatrace/dynatrace-k6-test-result.png
  src/svg/dynatrace.inline.svg
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Integrations: add `Dynatrace` on the sidebar
  src/data/markdown/docs/04 integrations/04 Results visualization/00 dynatrace.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor lang trims to new output docs
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Dynatrace.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Elasticsearch.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix argument's case in examples
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/01 HTTP .md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reference get-started section for exposing example application
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix http fault api and examples (#1109)
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/01 HTTP .md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add grpc faults to API
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/01 Grpc.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/02 HTTP .md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/03 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/03 injectHTTPFaults.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add grpc example
  .eslintignore
  src/data/markdown/docs/40 xk6-disruptor/04 Examples.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject Grpc faults into Service.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/02 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix capitalization of gRPC
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/01 Grpc.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject Grpc faults into Service.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Use make
  docs/docs.mk
Due: none

Use centralized make-docs script for building documentation
  .gitignore
Due: none

results, remove future tense
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 JSON.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: update extensions layout
  src/components/pages/doc-extensions/extension-selection/extension-selection.module.scss
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/components/shared/checkbox-field/checkbox-field.module.scss
  src/components/shared/extension-card/extension-card.module.scss
  src/components/shared/extension-card/extension-card.view.js
  src/components/shared/extension-card/svg/cloud.inline.svg
  src/components/shared/extension-card/svg/star.inline.svg
  src/data/doc-extensions/extensions.json
  src/templates/docs/bundle-builder.js
  src/templates/docs/explore-extensions.js
Due: prettier --write, eslint --fix

Apply suggestions from code review
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject Grpc faults into Service.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor fix
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject Grpc faults into Service.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add Grpc fault injection (#1108)
  .eslintignore
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/01 Grpc.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/02 HTTP .md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/03 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/02 injectGrpcFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/03 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject Grpc faults into Service.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/02 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: update extensions styles
  src/components/pages/doc-extensions/extension-selection/extension-selection.module.scss
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/components/shared/extension-card/extension-card.module.scss
Due: prettier --write, eslint --fix

fix: minor UI issues
  src/components/pages/doc-extensions/extension-selection/extension-selection.module.scss
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/templates/docs/bundle-builder.js
Due: prettier --write, eslint --fix

injectGrpcFault: fix broken link/url typo
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update k6 browser's BrowserType.Connect documentation
  src/data/markdown/docs/30 k6-browser/02 API/03 BrowserType.md
  src/data/markdown/docs/30 k6-browser/02 API/03 BrowserType/connect--options--.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: minor UI issues
  src/components/pages/doc-extensions/extension-selection/extension-selection.module.scss
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
Due: prettier --write, eslint --fix

Update centralized Makefile to fix missing menu
  docs/Makefile
  docs/docs.mk
  docs/variables.mk
Due: none

panel header updates (#1099)
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 InfluxDB - Grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

panel header & empty dashboard updates (#1095)
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
