Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add fix to prevent default beheviour(reload on Enter key) in SearchForm
  src/components/shared/search-box/search-input.js
Due: prettier --write, eslint --fix

fix: rollback content .md file
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 SecretsManagerClient deleteSecret secretID, recoveryWindow30 noRecoveryFalse.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Initial Draft
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Exposing  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/images/logo.png
  src/data/markdown/docs/40 xk6-disruptor/02 API.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/01 Faults/01 HTTP .md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Enable xk6-disruptor pages and fix content
  .eslintignore
  gatsby-node.js
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Exposing  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01_Inject_HTTP_faults_into_Pod.md
  src/layouts/doc-layout/doc-layout.view.js
  src/utils/algolia.js
  src/utils/utils.node.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix vale errors
  .vale/Vocab/docs/accept.txt
  src/data/markdown/docs/05 Examples/01 Examples/05 data-parameterization.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: save workflow from falling if there are broken links
  .github/workflows/staging.yml
Due: none

chore: remove previous broken links checker
  package-lock.json
  package.json
Due: none

your plan; link fix
  src/data/markdown/docs/03 cloud/06 Your plan/02 Subscription.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Revert "chore: remove previous broken links checker"
  package-lock.json
  package.json
Due: none

feat(docs): broken links checker (#886)
  .github/workflows/staging.yml
  linkinator.config.json
  package-lock.json
  package.json
Due: none

fix: github workflow syntax
  .github/workflows/staging.yml
Due: none

fix: github workflow syntax (#894)
  .github/workflows/staging.yml
Due: none

Fix formatting issues
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
  src/data/markdown/docs/40 xk6-disruptor/02 API.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01_Inject_HTTP_faults_into_Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Mantain file naming style
  .eslintignore
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken link
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove mention of percentile query for New Relic output
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 NewRelic.md
  src/data/markdown/translated-guides/es/04 Results visualization/09 NewRelic.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add note to clarify New Relic percentile limitation
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 NewRelic.md
  src/data/markdown/translated-guides/es/04 Results visualization/09 NewRelic.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add Kubernetes version requirement
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: disable headings and update dependencies
  gatsby-node.js
  package-lock.json
  package.json
  src/templates/doc-page.js
Due: prettier --write, eslint --fix

Remove New Relic percentile query and clarify limitation (#895)
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 NewRelic.md
  src/data/markdown/translated-guides/es/04 Results visualization/09 NewRelic.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix broken AWS links
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/S3Client/98 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/02 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/99 Secret.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix kms datakey link
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/KMSClient/98 KMSDataKey.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix broken links
  src/data/markdown/docs/03 cloud/07 Cloud reference/800 Cloud REST API/06 Test Run Metrics.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
  src/data/markdown/translated-guides/en/06 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud CLI, restructure into how-to and reference
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI/100 Run tests.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI/200 Cloud execution reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: disable eslint for ```js
  src/data/markdown/.eslintrc.js
Due: prettier --write, eslint --fix

fix: linkinator CI config
  .github/workflows/staging.yml
Due: none

fix: md content fix
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow: 30, noRecovery: false}}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add max-old-space-size for pr-deploy.yml
  .github/workflows/pr-deploy.yml
Due: none

fix: Search form fix (reload on Enter key) (#890)
  src/components/shared/search-box/search-input.js
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 SecretsManagerClient deleteSecret secretID, recoveryWindow30 noRecoveryFalse.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud-cli, simplify and update execution quirks
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: make a staging URL public
  .github/workflows/staging.yml
Due: none

Cloud-CLI, improve info discover and re-link
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI/200 Cloud execution reference.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/999 Troubleshooting.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Logs Tab.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/03 Projects.md
  src/data/markdown/translated-guides/en/04 Test authoring/01 test builder.md
  src/data/markdown/translated-guides/es/03 Test authoring/01 test builder.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: linkinator CI config (#898)
  .github/workflows/staging.yml
Due: none

Update Example
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add example source
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add note to Teardown function
  src/data/markdown/translated-guides/en/02 Using k6/06 Test lifecycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Standardize test lifecycle table
  src/data/markdown/translated-guides/en/02 Using k6/06 Test lifecycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

arreglar vinculos
  src/data/markdown/translated-guides/es/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/es/02 Using k6/04 Thresholds.md
  src/data/markdown/translated-guides/es/02 Using k6/10 Protocols/01 HTTP-2.md
  src/data/markdown/translated-guides/es/06 Testing Guides/01 API load testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
