Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Create checks.md
  grafana-cloud/docs/sources/analyze-results/checks.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move `share test results` to References section
  grafana-cloud/docs/sources/references/_index.md
  grafana-cloud/docs/sources/references/audit-trails.md
  grafana-cloud/docs/sources/references/cloud-test-status.md
  grafana-cloud/docs/sources/references/share-test-results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `docs/lint` make command
  docs/docs.mk
Due: none

Complete pages: Usage report, Audit Trail, and Schedule a Test
  grafana-cloud/docs/sources/projects-and-users/usage-reports.md
  grafana-cloud/docs/sources/references/audit-trails.md
  grafana-cloud/docs/sources/references/schedule-a-test.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Use docs/sources directory for consistency with all other projects
  docs/Makefile
  docs/README.md
  docs/docs.mk
  docs/sources/_index.md
  docs/sources/analyze-results/_index.md
  docs/sources/analyze-results/checks.md
  docs/sources/analyze-results/correlate-results-in-grafana.md
  docs/sources/analyze-results/get-performance-insights.md
  docs/sources/analyze-results/http-websocket-grpc-tab.md
  docs/sources/analyze-results/inspect-test-results.md
  docs/sources/analyze-results/thresholds.md
  docs/sources/cloud-scripting-extras/_index.md
  docs/sources/cloud-scripting-extras/cloud-environment-variables.md
  docs/sources/cloud-scripting-extras/cloud-execution-context-variables.md
  docs/sources/cloud-scripting-extras/cloud-load-zones.md
  docs/sources/cloud-scripting-extras/cloud-options.md
  docs/sources/cloud-scripting-extras/cloud-tags.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/build-your-first-test.md
  docs/sources/get-started/run-cloud-tests-from-the-CLI.md
  docs/sources/projects-and-users/_index.md
  docs/sources/projects-and-users/invite-users.md
  docs/sources/projects-and-users/projects.md
  docs/sources/projects-and-users/token.md
  docs/sources/projects-and-users/usage-reports.md
  docs/sources/references/_index.md
  docs/sources/references/audit-trails.md
  docs/sources/references/cloud-test-status.md
  docs/sources/references/schedule-a-test.md
  docs/sources/references/send-notifications.md
  docs/sources/references/share-test-results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Mount docs at /docs/k6
  grafana-cloud/README.md
  grafana-cloud/docs/docs.mk
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Setup notifications
  grafana-cloud/docs/sources/cloud-scripting-extras/cloud-environment-variables.md
  grafana-cloud/docs/sources/references/send-notifications.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Correlate results edits
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove separate articles
  docs/sources/analyze-results/checks.md
  docs/sources/analyze-results/http-websocket-grpc-tab.md
  docs/sources/analyze-results/inspect-test-results.md
  docs/sources/analyze-results/thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update README to reflect support for podman tool
  grafana-cloud/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Grafana Cloud docs: fix `eslint` setup
  .eslintignore
  docs/.eslintrc.js
  docs/sources/analyze-results/get-performance-insights.md
  package.json
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

minor edit
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete `Analyze tests` category page
  docs/sources/analyze-results/_index.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update README.md
  docs/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add frontmatter canonicalUrl field (#1073)
  gatsby-node.js
  src/components/shared/seo/seo.view.js
  src/data/markdown/docs/03 cloud/02 Analyzing Results/01 Overview.md
  src/templates/doc-page.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove links to grafana com plugin page.
  src/data/markdown/docs/03 cloud/04 Integrations/06 Grafana App.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add xk6-opentelemetry extension
  src/data/doc-extensions/extensions.json
Due: none

Cloud docs: Set canonical metatags
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/100 Cloud options.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/200 Load zones.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/300 Cloud tags.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/400 Cloud environment variables.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/01 Overview.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
  src/data/markdown/docs/03 cloud/03 Manage/02 Scheduled tests.md
  src/data/markdown/docs/03 cloud/03 Manage/03 Notifications.md
  src/data/markdown/docs/03 cloud/03 Manage/04 Environment variables.md
  src/data/markdown/docs/03 cloud/03 Manage/05 Usage Reports.md
  src/data/markdown/docs/03 cloud/03 Manage/06 Audit Trail.md
  src/data/markdown/docs/03 cloud/04 Integrations/04 Token.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/03 Projects.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/100 Test status codes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix reference to examples - added link
  src/data/markdown/docs/02 javascript api/07 k6-experimental/02 redis.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud: update Grafana App plugin page
  src/data/markdown/docs/03 cloud/04 Integrations/06 Grafana App.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove 404 to plugin page
  src/data/markdown/docs/03 cloud/04 Integrations/06 Grafana App.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add the new thmshmm/xk6-opentelemetry extension
  src/data/doc-extensions/extensions.json
Due: none

Minor edits
  src/data/markdown/docs/03 cloud/04 Integrations/06 Grafana App.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Publish documentation directly to the primary website branch
  .github/workflows/publish-technical-documentation.yml
Due: none

Remove links to grafana com plugin page (#1075)
  src/data/markdown/docs/03 cloud/04 Integrations/06 Grafana App.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud docs: Set canonical metatags (#1077)
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/100 Cloud options.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/200 Load zones.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/300 Cloud tags.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/400 Cloud environment variables.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/01 Overview.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
  src/data/markdown/docs/03 cloud/03 Manage/02 Scheduled tests.md
  src/data/markdown/docs/03 cloud/03 Manage/03 Notifications.md
  src/data/markdown/docs/03 cloud/03 Manage/04 Environment variables.md
  src/data/markdown/docs/03 cloud/03 Manage/05 Usage Reports.md
  src/data/markdown/docs/03 cloud/03 Manage/06 Audit Trail.md
  src/data/markdown/docs/03 cloud/04 Integrations/04 Token.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/03 Projects.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/100 Test status codes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Grafana Cloud docs: fix wrong link and use `section` shortcode
  docs/sources/analyze-results/_index.md
  docs/sources/cloud-scripting-extras/_index.md
  docs/sources/get-started/_index.md
  docs/sources/projects-and-users/_index.md
  docs/sources/references/_index.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

gdocs: trigger publish-technical-documentation job on `gcloud` releases
  .github/workflows/publish-technical-documentation.yml
Due: none

Minor edit: remove italic from word
  docs/sources/analyze-results/get-performance-insights.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Set regex on tag releases for CI production release
  .github/workflows/production.yml
Due: none

Update contributing readme for Grafana Docs releases
  CONTRIBUTING/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix Prometheus integration link
  src/data/markdown/docs/04 integrations/04 Results visualization/11 prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud, update introductory documents
  .eslintignore
  docs/sources/_index.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/run-your-first-tests.md
  docs/sources/get-started/vu-hours.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud, make new author section, move docs
  docs/sources/author-run/_index.md
  docs/sources/author-run/about-scenarios.md
  docs/sources/author-run/cloud-scripting-extras/_index.md
  docs/sources/author-run/cloud-scripting-extras/cloud-environment-variables.md
  docs/sources/author-run/cloud-scripting-extras/cloud-execution-context-variables.md
  docs/sources/author-run/cloud-scripting-extras/cloud-options.md
  docs/sources/author-run/cloud-scripting-extras/cloud-tags.md
  docs/sources/author-run/cloud-scripting-extras/environment-variables.md
  docs/sources/author-run/cloud-scripting-extras/load-zones.md
  docs/sources/author-run/schedule-a-test.md
  docs/sources/author-run/send-notifications.md
  docs/sources/author-run/test-builder.md
  docs/sources/author-run/tokens-and-cli-authentication.md
  docs/sources/cloud-scripting-extras/_index.md
  docs/sources/cloud-scripting-extras/cloud-load-zones.md
  docs/sources/cloud-scripting-extras/cloud-options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud, move share test to analyze
  docs/sources/analyze-results/share-test-results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

cloud, make "references" a singular title
  docs/sources/reference/_index.md
  docs/sources/reference/audit-trails.md
  docs/sources/reference/cloud-ips.md
  docs/sources/reference/cloud-test-status-codes.md
  docs/sources/reference/query-types.md
  docs/sources/references/_index.md
  docs/sources/references/schedule-a-test.md
  docs/sources/references/send-notifications.md
  docs/sources/references/share-test-results.md
  docs/sources/references/tokens-and-cli-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

cloud, update some entry points
  docs/sources/_index.md
  docs/sources/analyze-results/_index.md
  docs/sources/analyze-results/correlate-results-in-grafana.md
  docs/sources/get-started/_index.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

cloud, misc linting fixes
  docs/sources/analyze-results/share-test-results.md
  docs/sources/get-started/run-cloud-tests-from-the-cli.md
  docs/sources/get-started/run-your-first-tests.md
  docs/sources/get-started/vu-hours.md
  docs/sources/projects-and-users/projects.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Capitalize Grafana Cloud
  docs/sources/_index.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
