Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Incorporate review updates for phrasing
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Setup notifications
  grafana-cloud/docs/sources/cloud-scripting-extras/cloud-environment-variables.md
  grafana-cloud/docs/sources/references/send-notifications.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete pages: Usage report, Audit Trail, and Schedule a Test
  grafana-cloud/docs/sources/projects-and-users/usage-reports.md
  grafana-cloud/docs/sources/references/audit-trails.md
  grafana-cloud/docs/sources/references/schedule-a-test.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move `share test results` to References section
  grafana-cloud/docs/sources/references/_index.md
  grafana-cloud/docs/sources/references/audit-trails.md
  grafana-cloud/docs/sources/references/cloud-test-status.md
  grafana-cloud/docs/sources/references/share-test-results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update README to reflect support for podman tool
  grafana-cloud/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Mount docs at /docs/k6
  grafana-cloud/README.md
  grafana-cloud/docs/docs.mk
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add doc-validator workflow for linting technical documentation
  .github/workflows/doc-validator.yml
Due: none

Add workflow for publishing technical documentation
  .github/workflows/publish-technical-documentation.yml
Due: none

Use docs/sources directory for consistency with all other projects
  docs/Makefile
  docs/README.md
  docs/docs.mk
  docs/sources/_index.md
  docs/sources/analyze-results/_index.md
  docs/sources/analyze-results/checks.md
  docs/sources/analyze-results/correlate-results-in-grafana.md
  docs/sources/analyze-results/get-performance-insights.md
  docs/sources/analyze-results/http-websocket-grpc-tab.md
  docs/sources/analyze-results/inspect-test-results.md
  docs/sources/analyze-results/thresholds.md
  docs/sources/cloud-scripting-extras/_index.md
  docs/sources/cloud-scripting-extras/cloud-environment-variables.md
  docs/sources/cloud-scripting-extras/cloud-execution-context-variables.md
  docs/sources/cloud-scripting-extras/cloud-load-zones.md
  docs/sources/cloud-scripting-extras/cloud-options.md
  docs/sources/cloud-scripting-extras/cloud-tags.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/build-your-first-test.md
  docs/sources/get-started/run-cloud-tests-from-the-CLI.md
  docs/sources/projects-and-users/_index.md
  docs/sources/projects-and-users/invite-users.md
  docs/sources/projects-and-users/projects.md
  docs/sources/projects-and-users/token.md
  docs/sources/projects-and-users/usage-reports.md
  docs/sources/references/_index.md
  docs/sources/references/audit-trails.md
  docs/sources/references/cloud-test-status.md
  docs/sources/references/schedule-a-test.md
  docs/sources/references/send-notifications.md
  docs/sources/references/share-test-results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Tokens and CLI authentication
  .eslintignore
  docs/sources/get-started/run-cloud-tests-from-the-CLI.md
  docs/sources/projects-and-users/_index.md
  docs/sources/projects-and-users/invite-users.md
  docs/sources/projects-and-users/token.md
  docs/sources/projects-and-users/usage-reports.md
  docs/sources/references/_index.md
  docs/sources/references/audit-trails.md
  docs/sources/references/cloud-test-status.md
  docs/sources/references/schedule-a-test.md
  docs/sources/references/send-notifications.md
  docs/sources/references/share-test-results.md
  docs/sources/references/tokens-and-cli-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add missing output example
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove separate articles
  docs/sources/analyze-results/checks.md
  docs/sources/analyze-results/http-websocket-grpc-tab.md
  docs/sources/analyze-results/inspect-test-results.md
  docs/sources/analyze-results/thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix wrong import
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/06 SignatureV4.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add body as param to sign method
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/01 sign().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

change | to or
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/01 sign().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add body param
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/01 sign().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete `Projects`
  docs/sources/projects-and-users/manage-project-members.md
  docs/sources/projects-and-users/projects.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete `Manage project members`
  docs/sources/projects-and-users/manage-project-members.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Replace Grafana Instance with Grafana Stack
  docs/sources/get-started/build-your-first-test.md
  docs/sources/get-started/run-cloud-tests-from-the-CLI.md
  docs/sources/references/tokens-and-cli-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete `Projects and users` category page
  docs/sources/projects-and-users/_index.md
  docs/sources/projects-and-users/manage-project-members.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete `Get started` section
  docs/sources/get-started/_index.md
  docs/sources/get-started/build-your-first-test.md
  docs/sources/get-started/run-cloud-tests-from-the-CLI.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Complete homepage
  docs/sources/_index.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `docs/lint` make command
  docs/docs.mk
Due: none

remove unused variable
  docs/docs.mk
Due: none

Fix lint errors
  docs/sources/analyze-results/_index.md
  docs/sources/analyze-results/get-performance-insights.md
  docs/sources/cloud-scripting-extras/cloud-options.md
  docs/sources/get-started/_index.md
  docs/sources/get-started/build-your-first-test.md
  docs/sources/projects-and-users/manage-project-members.md
  docs/sources/projects-and-users/projects.md
  docs/sources/references/cloud-test-status.md
  docs/sources/references/send-notifications.md
  docs/sources/references/share-test-results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rename `Run your first tests` title
  docs/sources/get-started/_index.md
  docs/sources/get-started/run-cloud-tests-from-the-CLI.md
  docs/sources/get-started/run-your-first-tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Grafana Cloud docs: fix `eslint` setup
  .eslintignore
  docs/.eslintrc.js
  docs/sources/analyze-results/get-performance-insights.md
  package.json
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add Grafana Explore/Dashboard sections
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Correlate Results: complete Explore
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

prom-rw: Updated dashboards doc
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus remote write.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prom-dashboard-test-result.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prom-metric-explorer.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prom-rw-metrics.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prometheus-dashboard-test-result.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fixed links
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus remote write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Exclude localhost urls from link checks
  linkinator.config.json
Due: none

Exclude localhost urls from link checks during workflow
  .github/workflows/staging.yml
Due: none

Complete correlate results
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Correlate results edits
  docs/sources/analyze-results/correlate-results-in-grafana.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
