Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Smooth writing
  contributors-guide/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update README.md
  contributors-guide/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update README.md
  README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update troubleshooting.md
  contributors-guide/troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds links reference
  contributors-guide/README.md
  contributors-guide/gatsby-reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add toc
  contributors-guide/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add xk6-ethereum to extensions
  src/data/doc-extensions/extensions.json
Due: none

Clean up init fix
  src/data/markdown/docs/02 javascript api/01 Init context.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Life-cycle, rename functions,
  gatsby-node.js
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test.md
  src/data/markdown/translated-guides/en/03 Results output/100 End-of-test/150-custom-summary.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

JS API; clean up init description
  src/data/markdown/docs/02 javascript api/01 Init context.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

smooth language
  README.md
  contributors-guide/README.md
  contributors-guide/gatsby-reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Delete release.svg
  internal-images/release.svg
Due: none

Apply suggestions from code review
  contributors-guide/README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add meta-documentation about Gatsby (#878)
  README.md
  contributors-guide/README.md
  contributors-guide/gatsby-reference.md
  contributors-guide/troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update gatsby-reference.md
  contributors-guide/gatsby-reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix extra plusses
  src/data/markdown/docs/02 javascript api/01 Init context.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat(docs): broken links checker
  .github/workflows/staging.yml
Due: none

refactor: move config to separete file
  .github/workflows/staging.yml
  linkinator.config.json
Due: none

feat: linkinator script for local testing
  package-lock.json
  package.json
Due: none

chore: fix codestyle
  linkinator.config.json
Due: none

lifecycle, less noisy formatting in intro
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 1-SharedArray.md to fix the broken link.
  src/data/markdown/docs/02 javascript api/04 k6-data/1-SharedArray.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore(trivial): remove code for development
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: broken page url in meta tag
  src/components/shared/seo/seo.view.js
  src/utils/index.js
Due: prettier --write, eslint --fix

chore: minor update dependencies [wip]
  package-lock.json
  package.json
Due: none

feat: skip linkedin links
  linkinator.config.json
Due: none

feat: change output format to rich one
  linkinator.config.json
Due: none

Update 1-SharedArray.md to fix the broken link. (#887)
  src/data/markdown/docs/02 javascript api/04 k6-data/1-SharedArray.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix old options path
  src/data/markdown/docs/02 javascript api/01 Init context.md
  src/data/markdown/docs/02 javascript api/06 k6-execution.md
  src/data/markdown/docs/02 javascript api/09 k6-http/60-Params.md
  src/data/markdown/docs/02 javascript api/09 k6-http/61 Response.md
  src/data/markdown/docs/02 javascript api/90 Error Codes.md
  src/data/markdown/docs/02 javascript api/alternative main modules/12 Error Codes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: broken page url in meta tag (#888)
  src/components/shared/seo/seo.view.js
  src/layouts/doc-layout/doc-layout.view.js
  src/utils/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
