Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Update xk6-browser browser
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fixes #647 for broken link to ramping-vus executor and appease the linter
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

links to xk6 docs page instead of GH page
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update troubleshooting instructions according to apt-key deprecation
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Debian installation instructions in Spanish translation
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Small language fixes for economy and presentation
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove apt-key list as a verification step from troubleshooting
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove k6 installation instructions from missing gnupg2 troubleshooting
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Sync English and Spanish k6 installation instructions
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation.md
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove Bintray troubleshooting instructions
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Replace dirmngr is missing troubleshooting
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add the Spanish translation of the k6 installation troubleshooting document
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor improvements to k6 installation troubleshooting
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Troubleshooting.md
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Sync Spanish k6 installation troubleshooting
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cleans up http/2 article
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/01 HTTP-2.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Simplifies WebSocket language
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/02 WebSockets.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

more language fixes to protocol docs
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/03 gRPC.md
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/04 SSL-TLS.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Browser.newContext
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move browser.newContext to a new page
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 browser/01-newcontext.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix browser.newPage options link
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix browser links
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 browser/01-newcontext.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move each browser method to a new page
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 browser/01-newcontext.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/01-browser-close.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/02-browser-contexts.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/03-browser-isconnected.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/04-browser-newbrowsercdpsession.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/05-browser-newcontext-options.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/06-browser-newpage.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/07-browser-on.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/08-browser-starttracing.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/09-browser-stoptracing.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser/10-browser-version.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reorderd Tags and Groups section
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Coded tags and tagging stages sections
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Stage index section for executors
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/04 ramping-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add Tooltip component for Markdown content
  package-lock.json
  package.json
  src/components/shared/tooltip/index.js
  src/components/shared/tooltip/tooltip.js
  src/components/shared/tooltip/tooltip.module.scss
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
Due: prettier --write, eslint --fix

feat: add Tooltip usage example
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add Tooltip component to all Markdown templates
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix

feat: add BNIT component
  src/components/shared/tooltip/bnit/bnit.js
  src/components/shared/tooltip/bnit/index.js
  src/components/shared/tooltip/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add component BWIPT
  src/components/shared/tooltip/bwipt/bwipt.js
  src/components/shared/tooltip/bwipt/index.js
  src/components/shared/tooltip/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: fix ID generation for TOC
  src/components/shared/heading/heading.module.scss
  src/hooks/use-landmark.js
Due: prettier --write, eslint --fix

fix: fix anchor heading selector
  src/components/shared/heading/heading.module.scss
Due: prettier --write

fix: fix links generation in the sidebar for xk6-browser links
  src/utils/utils.node.js
Due: prettier --write, eslint --fix

docs: remove examples
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: revert changes done in src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: fix ID generation for TOC (#652)
  src/components/shared/heading/heading.module.scss
  src/hooks/use-landmark.js
Due: prettier --write, eslint --fix

fix: fix links generation in the sidebar for xk6-browser links (#653)
  src/utils/utils.node.js
Due: prettier --write, eslint --fix
