Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Stub structure for test as code tutorial
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/100 Test-for-functional-behavior.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/200 Test for performance.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add more content stubs
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add extensions checkbox and link (#1190)
  src/components/shared/checkbox-field/checkbox-field.module.scss
  src/components/shared/extension-card/extension-card.module.scss
  src/components/shared/extension-card/extension-card.view.js
  src/styles/parts/global.scss
  src/svg/external-link.inline.svg
Due: prettier --write, eslint --fix

Add external link icon on header menu option
  src/components/blocks/header/item-with-submenu/item-with-submenu.module.scss
  src/components/blocks/header/item-with-submenu/item-with-submenu.view.js
  src/components/blocks/header/item-with-submenu/svg/exnternal-link-icon.inline.svg
Due: prettier --write, eslint --fix

Update `Running k6/Execution modes`
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `Cloud` option to stream results
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Cloud.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Cloud/k6-cloud-results.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Cloud/screenshot-stream-k6-results-to-grafana-cloud-k6.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `Test Builder`
  src/data/markdown/translated-guides/en/05 Test authoring/01 test builder.md
  src/data/markdown/translated-guides/en/05 Test authoring/images/grafana-cloud-k6-test-builder.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix grammar
  src/data/markdown/translated-guides/en/05 Test authoring/01 test builder.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Sort the `Cloud docs` header menu
  gatsby-node.js
Due: prettier --write, eslint --fix

Finish first draft
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/100 Test-for-functional-behavior.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/200 Test for performance.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

prettier ignore tutorial with globalThis
  .eslintignore
Due: none

some linting
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/200 Test for performance.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

some text cleanup
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add the easy fixes from Mihail's suggestion
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/100 Test-for-functional-behavior.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/200 Test for performance.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Make thresholds examples more explicit
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/200 Test for performance.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add another request to group
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

formatting fixes
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

formatting fix
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

lang fixes
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/300 Analyze results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More improvements
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

linter fixes
  src/data/markdown/translated-guides/en/02 Using k6/00 Tutorial/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Enable `Grafana Cloud k6` Docs (#1187)
  gatsby-node.js
  src/components/blocks/footer/footer.view.js
  src/components/blocks/header/item-with-submenu/item-with-submenu.module.scss
  src/components/blocks/header/item-with-submenu/item-with-submenu.view.js
  src/components/blocks/header/item-with-submenu/svg/exnternal-link-icon.inline.svg
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the cli.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/00 Cloud.md
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Cloud/k6-cloud-results.png
  src/data/markdown/translated-guides/en/04 Results output/200 Real-time/images/Cloud/screenshot-stream-k6-results-to-grafana-cloud-k6.png
  src/data/markdown/translated-guides/en/05 Test authoring/01 test builder.md
  src/data/markdown/translated-guides/en/05 Test authoring/images/grafana-cloud-k6-test-builder.png
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `footer` to include Legal and Security
  src/components/blocks/footer/footer.view.js
Due: prettier --write, eslint --fix

Update `Running large tests` to replace `k6 Cloud` mentions
  src/data/markdown/translated-guides/en/07 Testing Guides/04 Running large tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove k6 browser's browser.on method doc
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/01 Browser class.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/01 Browser class/on--event--.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: typo in Running k6 page
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: typo in Running k6 page (#1198)
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update HTTP-authentication for AWS use case to use jslib-aws (#1149)
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: refactor two internal redirects
  gatsby-node.js
Due: prettier --write, eslint --fix

Chore: fix internal redirects without trailing slash
  gatsby-node.js
Due: prettier --write, eslint --fix

feat: swap analytics with tagmanager
  gatsby-config.js
Due: prettier --write, eslint --fix

chore: add plugin dep
  package-lock.json
  package.json
Due: none

Feat gtag plugin (#1201)
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Test types: rewrite note
  src/data/markdown/translated-guides/en/06 Test Types/00 Load test types.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `smoke tests` to include `mini-load` tests
  src/data/markdown/translated-guides/en/06 Test Types/00 Load test types.md
  src/data/markdown/translated-guides/en/06 Test Types/01 Smoke Testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update test types based on common use cases
  src/data/markdown/translated-guides/en/06 Test Types/00 Load test types.md
  src/data/markdown/translated-guides/en/06 Test Types/02 Load Testing.md
  src/data/markdown/translated-guides/en/06 Test Types/03 Stress testing.md
  src/data/markdown/translated-guides/en/06 Test Types/07-breakpoint-testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix typos and add missing options to aws jslib's sign()
  src/data/markdown/docs/20 jslib/01 jslib/01 aws.md
  src/data/markdown/docs/20 jslib/01 jslib/01 aws/SignatureV4/00 sign().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Create category page to detect the error
  src/data/markdown/translated-guides/en/06 Test Types.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
