Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

style: run lint:examples:fix
  src/data/markdown/docs/03 cloud/06 Billing & User Menu/01 Settings.mdx
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs, simplifies default explanation in "running"
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

ci: add format and lint:examples scripts to Staging and Production workflows
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Running, cleans up tags and groups page
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: remove "ext" option from scripts "lint:examples" and "lint:examples:fix"
  package.json
Due: none

Address feedback on private load zones
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Private Load Zones.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: upgrade ESLint and Prettier
  .eslintrc
  package-lock.json
  package.json
Due: none

style: fix ESLint errors
  src/components/blocks/footer/footer.view.js
  src/components/blocks/item-cards-row/item-cards-row.view.js
  src/components/pages/doc-page/glossary/index.js
  src/components/shared/announcement-banner/index.js
  src/components/shared/button/button.view.js
  src/components/shared/code/code.js
  src/components/shared/collapsible/collapsible.js
  src/layouts/doc-layout/doc-layout.view.js
  src/utils/utils.node.js
Due: prettier --write, eslint --fix

Correct spelling
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Private Load Zones.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs, removes reference to vusMax option
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/data/markdown/translated-guides/en/07 Misc/01 Usage collection.md
  src/data/markdown/translated-guides/en/07 Misc/04 k6 REST API.md
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
  src/data/markdown/translated-guides/es/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove apt-key usage in debian/ubuntu install instructions
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update troubleshooting instructions according to apt-key deprecation
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: clean up ESLint config and add some fixes
  .eslintrc
Due: none

chore: update node from 15.x to 16.x in Github Workflows
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

chore: upgrade Node from 14.15.0 to 16.0.0
  package-lock.json
  package.json
Due: none

docs: update required node version in README
  README.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

style: change 404 template in order to test "Check formatting" in Github Workflow
  src/templates/404.js
Due: prettier --write, eslint --fix

style: change 404 template in order to test "Lint code" in Github Workflow
  src/templates/404.js
Due: prettier --write, eslint --fix

style: change 404 template in order to test "Lint examples" in Github Workflow
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/templates/404.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

ci: update node version in job names in Github Workflows
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

Add browser intro and close
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add jslib/aws documentation
  src/data/markdown/docs/20 jslib/01 jslib/05 aws.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/01 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/02 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/03 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/01 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/02 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/03 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/04 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/05 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/98 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/99 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/01 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/02 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/03 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow: 30, noRecovery: false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/05 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/99 Secret.md
  src/data/markdown/docs/20 jslib/20 jslib.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/20 jslib/01 jslib/05 aws.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: fetch jobs-positions.json instead of using env variable
  .env.example
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/components/blocks/footer/footer.view.js
Due: prettier --write, eslint --fix

Update xk6-browser browser
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix createPages build issues
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

docs, returns vus_max property to "Usage"
  src/data/markdown/translated-guides/en/07 Misc/01 Usage collection.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: fetch jobs-positions.json instead of using env variable (#643)
  .env.example
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
  src/components/blocks/footer/footer.view.js
Due: prettier --write, eslint --fix

Fix browser header links
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Debian installation instructions in Spanish translation
  src/data/markdown/translated-guides/es/01 Getting started/02 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Using k6, cleans protocol page and clarifies xk6
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 01 Troubleshooting.md
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

protocol, breaks content with more headings
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix newcontext-screen option link
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fixes capitalization
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
