Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Apply suggestions from code review
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Exposing  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/02 API.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  .vale/Vocab/docs/accept.txt
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Exposing  Your Application.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add definition of fault
  src/data/markdown/docs/40 xk6-disruptor/02 API/01 Faults.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add example of HTTP fault
  src/data/markdown/docs/40 xk6-disruptor/02 API/01 Faults/01 HTTP .md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

workflow, skip false positives
  .github/workflows/staging.yml
Due: none

Fix procedure formatting
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Exposing  Your Application.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken link
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix formatting after indented code
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add fix to close sidebar menu by clicking outside of it
  src/components/shared/sidebar-section-dropdown/sidebar-section-dropdown.view.js
Due: prettier --write, eslint --fix

Remove fixprotocol extension
  src/data/doc-extensions/extensions.json
Due: none

fix: fix content file name
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update installation guide
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: fix content in file
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `elasticsearch` output extension
  src/data/doc-extensions/extensions.json
Due: none

Fix typo
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Simplify Example
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix env variable name
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove reference to xk6-kubernetes
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add fixes after review
  src/components/shared/search-box/search-box.view.js
  src/components/shared/sidebar-section-dropdown/sidebar-section-dropdown.view.js
  src/hooks/use-click-outside.js
Due: prettier --write, eslint --fix

fix: add fixes on content file
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fixing rate of requests
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 NewRelic.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add minor changes
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/hooks/use-click-outside.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: updated pages with Gatsby Head API
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/shared/seo/seo.view.js
  src/layouts/default-layout/default-layout.view.js
  src/layouts/doc-layout/doc-layout.view.js
  src/templates/404.js
  src/templates/doc-page.js
  src/templates/docs/breadcrumb-stub.js
  src/templates/docs/bundle-builder.js
  src/templates/docs/cloud.js
  src/templates/docs/examples.js
  src/templates/docs/explore-extensions.js
  src/templates/docs/extensions.js
  src/templates/docs/guides.js
  src/templates/docs/integrations.js
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix

Add disruptor to acceted covab
  .vale/Vocab/docs/accept.txt
Due: none

Add examples to API
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/02 injectHTTPFaults.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Relocate attention note
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add eslint-skip to examples
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/02 injectHTTPFaults.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add documentation for xk6-disruptor (#891)
  .eslintignore
  .vale/Vocab/docs/accept.txt
  gatsby-node.js
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/images/logo.png
  src/data/markdown/docs/40 xk6-disruptor/02 API.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/01 Faults/01 HTTP .md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/02 PodDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/01 Constructor.md
  src/data/markdown/docs/40 xk6-disruptor/02 API/03 ServiceDisruptor/02 injectHTTPFaults.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
  src/layouts/doc-layout/doc-layout.view.js
  src/utils/algolia.js
  src/utils/utils.node.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: update SEO component conditionals
  src/components/shared/seo/seo.view.js
  src/templates/doc-page.js
Due: prettier --write, eslint --fix

Improve load zone explanation/searchability
  src/data/markdown/docs/03 cloud/07 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken links
  .github/workflows/staging.yml
Due: none

feat: replace react-helmet with Gatsby Head API (#913)
  gatsby-config.js
  gatsby-ssr.js
  package-lock.json
  package.json
  src/components/shared/seo/seo.view.js
  src/layouts/default-layout/default-layout.view.js
  src/layouts/doc-layout/doc-layout.view.js
  src/templates/404.js
  src/templates/doc-page.js
  src/templates/docs/breadcrumb-stub.js
  src/templates/docs/bundle-builder.js
  src/templates/docs/cloud.js
  src/templates/docs/examples.js
  src/templates/docs/explore-extensions.js
  src/templates/docs/extensions.js
  src/templates/docs/guides.js
  src/templates/docs/integrations.js
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix

fix: Sidebar dropdown fix (#911)
  src/components/shared/search-box/search-box.view.js
  src/components/shared/sidebar-section-dropdown/sidebar-section-dropdown.view.js
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/hooks/use-click-outside.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix typo
  src/data/markdown/docs/03 cloud/07 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken links on `xk6-disruptor` content
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update cloud release notes;
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: update conditional for sidebar tree
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

fix: update conditional for sidebar tree (#915)
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix
