Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Change APM documentation to reflect code changes
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Linting autofixes
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

adds missing article
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Standardizes keepTags warning
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

removes directional language
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

typo fixes
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

running k6, cosmetic changes
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add component TableWithNestedRows
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: logic for upcoming nested table
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: styles for nested tables
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: nested table tooltip support
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: little bugs and content of response file
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: extended contributin file format
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
Due: prettier --write, eslint --fix

fix: adjusted contributing file format mark up
  CONTRIBUTING_FILE_FORMAT.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Clarify and standardize targetMetric description
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Unruins ruined reference page
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix prefix in Prometheus export, correct Datadog capitalization
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/01 Grafana Cloud.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/03 DataDog.md
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/04 New Relic.md
  src/data/markdown/docs/03 cloud/04 Integrations/07 Prometheus Remote Write.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix a missing word
  src/data/markdown/docs/03 cloud/04 Integrations/05 Cloud APM/02 Azure Monitor.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Cloud release notes
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

API; Returns disappeared response function
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Hotfix/nested table style bug (#766)
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
Due: prettier --write, eslint --fix

WIP Team docs
  src/data/markdown/docs/03 cloud/05 Project and Team Management/05 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Better separation between Team images
  src/data/markdown/docs/03 cloud/05 Project and Team Management/05 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More team cleanup
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/05 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix team typo
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] Update teams docs
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams1.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams2.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams3.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams4.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams5.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] Update docs
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Use "Structural unit" and minimize use of word "Member"
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix minor typo
  src/data/markdown/docs/03 cloud/05 Project and Team Management/02 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Destructure General FAQ
  src/data/markdown/docs/03 cloud/01 Creating and running a test/400 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

updates release for v4
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

proofreads new topics
  src/data/markdown/docs/03 cloud/01 Creating and running a test/400 Troubleshooting.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/100 Test status codes.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update accept.txt
  .vale/Vocab/docs/accept.txt
Due: none

Update Cloud Release notes
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud/plan, moves ordering from base-1 to base-100
  src/data/markdown/docs/03 cloud/06 Your subscription/04 Pricing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Destructure General FAQ
  src/data/markdown/docs/03 cloud/08 Cloud reference/100 Test status codes.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Description lists for PLZs and status codes
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix references to old links
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
