Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore: add "format" script
  package.json
Due: none

chore: update .prettierignore
  .prettierignore
Due: none

style: run format
  .eslintrc
  .github/workflows/remove-old-artifacts.yml
  .prettierrc
  docker-compose.yml
  plugins/local-plugin-drift/gatsby-browser.js
  plugins/local-plugin-drift/gatsby-ssr.js
  plugins/local-plugin-drift/package.json
  src/components/blocks/header/burger/header-burger.module.scss
  src/components/blocks/mobile-nav/mobile-nav.module.scss
  src/components/shared/button/button.module.scss
  src/components/shared/field/field.module.scss
  src/components/shared/lines/lines.scss
  src/data/doc-extensions/extensions.json
  src/styles/parts/fonts.scss
  src/styles/vendor/normalize.scss
  src/utils/chunk-text.js
Due: prettier --write, eslint --cache --fix

chore: update .lintstagedrc
  .lintstagedrc
Due: none

fix: fix generation of different anchors between headings and links in ToC
  src/hooks/use-landmark.js
Due: prettier --write, eslint --cache --fix

fix: fix sticky ToC
  src/components/pages/doc-page/table-of-contents/table-of-contents.module.scss
Due: prettier --write

fix: fix sticky ToC (#635)
  src/components/pages/doc-page/table-of-contents/table-of-contents.module.scss
Due: prettier --write

better init code example
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

Better summary of how performance improves
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

fix: fix generation of different anchors between headings and links in ToC (#634)
  src/hooks/use-landmark.js
Due: prettier --write, eslint --cache --fix

BrowserType API
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/03-browser-type.md
Due: prettier --write, eslint --cache --fix

WIP - element-handle
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/04-element-handle.md
Due: prettier --write, eslint --cache --fix

New layouts for Browser and BrowserContext
  src/components/shared/browser-compatibility/browser-compatibility.view.js
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/02-browser-context.md
Due: prettier --write, eslint --cache --fix

Frame and Page
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/05-frame.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/09-page.md
Due: prettier --write, eslint --cache --fix

Fix vale errors
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01-browser.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/02-browser-context.md
Due: prettier --write, eslint --cache --fix

xk6-browser: more APIs using new layout
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/04-element-handle.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/06-js-handle.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/07-keyboard.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/08-launcher.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/08-mouse.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/10-request.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/11-response.md
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/12-touchscreen.md
Due: prettier --write, eslint --cache --fix

fix anchor links on ElementHandle
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/04-element-handle.md
Due: prettier --write, eslint --cache --fix

Fix broken link: Cloud Performance Insights
  src/data/markdown/docs/03 cloud/02 Analyzing Results/01 Overview.md
Due: prettier --write, eslint --cache --fix

chore: add "format:fix" script
  package.json
Due: none

Makes table more accurate
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

life cycle, makes list consistent and parallel
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

Reworks "life cycle" explanation page
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

life-cycle, removes unnecessary details
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

life-cycle, more informative intro
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

fixes nested bullets
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

life-cycle, restructures section and table
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

lifecycle, restructure, adds diagram and def list
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
  src/data/markdown/translated-guides/en/02 Using k6/images/Lifecycle/lifecycle.png
Due: prettier --write, eslint --cache --fix

small text fixes
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

life cycle; removes unneeded info
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

chore: update scripts
  package.json
Due: none

Tweaks to init phrasing
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: prettier --write, eslint --cache --fix

Docs: rewrites "Life Cycle" page
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
  src/data/markdown/translated-guides/en/02 Using k6/images/Lifecycle/lifecycle.png
Due: prettier --write, eslint --cache --fix

chore: remove lint-staged from package.json and update scripts
  package.json
Due: none

ci: add format and lint:examples scripts to PR deploy workflow
  .github/workflows/pr-deploy.yml
Due: none

refactor: fix ESLint errors
  plugins/gatsby-plugin-announcement-banner/gatsby-node.js
  plugins/local-plugin-drift/gatsby-browser.js
  plugins/local-plugin-drift/gatsby-ssr.js
Due: prettier --write, eslint --cache --fix

chore: add MDX support to ESLint
  src/data/markdown/.eslintrc.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss,md,mdx}
  eslint --cache --fix: any of: *.{js,jsx,md,mdx}
