Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

checking in tab rewrites
  src/data/markdown/docs/03 cloud/02 Analyzing Results/03 Threshold Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/04 Checks Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/05 HTTP Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Analysis Tab.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Accept sentences ending in prepositions
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar.md
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar/CookieJar-cookiesForUrl-url.md
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar/CookieJar-delete-url-name.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Documents options for CSV output
  src/data/markdown/translated-guides/en/04 Results visualization/03 CSV.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Finish first rewrites, make titles verbs
  src/data/markdown/docs/03 cloud/02 Analyzing Results/01 Overview.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/03 Threshold Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/04 Checks Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/05 HTTP Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Analysis Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/07 Logs Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/09 Test Results Menu.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Performance Trending.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/11 Result Export.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Mention the GET shorthand and re-arranged parts
  src/data/markdown/docs/02 javascript api/08 k6-http/10-batch- requests -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/02 javascript api/08 k6-http/10-batch- requests -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

lowercase unix
  src/data/markdown/translated-guides/en/04 Results visualization/03 CSV.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Documents options for CSV output (#718)
  src/data/markdown/translated-guides/en/04 Results visualization/03 CSV.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Proofreads rewrites
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/03 Threshold Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/04 Checks Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/05 HTTP Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Analysis Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/07 Logs Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/09 Test Results Menu.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Performance Trending.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/11 Result Export.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

HTTP tab lang fixes
  src/data/markdown/docs/03 cloud/02 Analyzing Results/05 HTTP Tab.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds cloud release notes for org tokens
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Redirect links; add slugs for analysis restructure
  gatsby-node.js
  src/data/markdown/docs/03 cloud/02 Analyzing Results/01 Overview.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/03 Threshold Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/04 Checks Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/05 HTTP Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Analysis Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/09 Test Results Menu.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Performance Trending.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/11 Result Export.md
  src/data/markdown/translated-guides/en/02 Using k6/01 HTTP requests.md
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

includes trailing slash in redirect
  gatsby-node.js
Due: prettier --write, eslint --fix

Minor language fixes
  src/data/markdown/docs/03 cloud/02 Analyzing Results/01 Overview.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/03 Threshold Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Performance Trending.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Simplifies file path to match slug
  src/data/markdown/docs/03 cloud/02 Analyzing Results/03 Thresholds.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/04 Checks.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/05 HTTP.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor edits to manage thresholds
  src/data/markdown/docs/03 cloud/03 Manage/01 Thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reworking extensions documentation
  gatsby-node.js
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/components/pages/doc-extensions/extensions-overview/index.js
  src/components/pages/doc-extensions/extensions-overview/overview.module.scss
  src/components/pages/doc-extensions/extensions-overview/overview.view.js
  src/components/pages/doc-extensions/extensions-quickstart/index.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.component.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.module.scss
  src/components/pages/doc-extensions/extensions-use-cases/index.js
  src/components/pages/doc-extensions/extensions-use-cases/use-cases.module.scss
  src/components/pages/doc-extensions/extensions-use-cases/use-cases.view.js
  src/components/pages/doc-extensions/index.js
  src/components/pages/doc-extensions/what-is-xk6/index.js
  src/components/pages/doc-extensions/what-is-xk6/what-is-xk6.module.scss
  src/components/pages/doc-extensions/what-is-xk6/what-is-xk6.view.js
  src/data/markdown/docs/04 integrations/07 k6 Extensions/02 explore.md
  src/data/markdown/docs/04 integrations/07 k6 Extensions/03 build bundle.md
  src/data/markdown/docs/07 extensions/01 Getting started/01 Overview.md
  src/data/markdown/docs/07 extensions/01 Getting started/02 Explore.md
  src/data/markdown/docs/07 extensions/01 Getting started/03 Build Bundle.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/templates/docs/bundle-builder.js
  src/templates/docs/explore-extensions.js
  src/templates/docs/extensions.js
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor updates given review comments
  gatsby-node.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.component.js
  src/data/markdown/docs/07 extensions/01 Getting started/03 Build Bundle.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create.md
  src/templates/docs/bundle-builder.js
  src/templates/docs/explore-extensions.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Updating content
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/01 Guides/01 intro.md
  src/data/markdown/docs/07 extensions/01 Guides/03 develop.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reworked the building with xk6 guide
  src/data/markdown/docs/07 extensions/01 Guides/02 bundling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updating content based upon review suggestions
  src/components/pages/doc-extensions/what-is-xk6/what-is-xk6.view.js
  src/data/markdown/docs/07 extensions/01 Guides/02 bundling.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Reworking extensions documentation
  gatsby-node.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.component.js
  src/data/markdown/docs/07 extensions/01 Getting started/03 Build Bundle.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/templates/docs/bundle-builder.js
  src/templates/docs/explore-extensions.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor updates given review comments
  gatsby-node.js
  src/data/markdown/docs/07 extensions/01 Getting started/03 Build Bundle.md
  src/templates/docs/bundle-builder.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

testing PR to the PR
  src/data/markdown/docs/07 extensions/01 Guides/02 bundling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Removes bumpy, redundant phrasing
  src/data/markdown/translated-guides/en/02 Using k6/06 Test life cycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud analysis, changes title to "compare metrics"
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Analysis Tab.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud analysis, groups sidebar by like verbs
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Logs Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/07 Analysis Tab.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/09 Performance Trending.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Test Results Menu.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rewrite "How to schedule cloud tests"
  src/data/markdown/docs/03 cloud/03 Manage/02 Scheduled tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reworking extensions documentation
  gatsby-node.js
  src/components/pages/doc-extensions/extension-selection/extension-selection.view.js
  src/components/pages/doc-extensions/extensions-overview/index.js
  src/components/pages/doc-extensions/extensions-overview/overview.module.scss
  src/components/pages/doc-extensions/extensions-overview/overview.view.js
  src/components/pages/doc-extensions/extensions-quickstart/index.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.component.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.module.scss
  src/components/pages/doc-extensions/extensions-use-cases/index.js
  src/components/pages/doc-extensions/extensions-use-cases/use-cases.module.scss
  src/components/pages/doc-extensions/extensions-use-cases/use-cases.view.js
  src/components/pages/doc-extensions/index.js
  src/components/pages/doc-extensions/what-is-xk6/index.js
  src/components/pages/doc-extensions/what-is-xk6/what-is-xk6.module.scss
  src/components/pages/doc-extensions/what-is-xk6/what-is-xk6.view.js
  src/data/markdown/docs/04 integrations/07 k6 Extensions/02 explore.md
  src/data/markdown/docs/04 integrations/07 k6 Extensions/03 build bundle.md
  src/data/markdown/docs/07 extensions/01 Getting started/01 Overview.md
  src/data/markdown/docs/07 extensions/01 Getting started/02 Explore.md
  src/data/markdown/docs/07 extensions/01 Getting started/03 Build Bundle.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/01 Guides/01 intro.md
  src/data/markdown/docs/07 extensions/01 Guides/02 bundling.md
  src/data/markdown/docs/07 extensions/01 Guides/03 develop.md
  src/templates/docs/bundle-builder.js
  src/templates/docs/explore-extensions.js
  src/templates/docs/extensions.js
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Trim language and improve info architecture for extensions
  src/components/pages/doc-extensions/extensions-overview/overview.view.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.component.js
  src/components/pages/doc-extensions/extensions-use-cases/use-cases.view.js
  src/components/pages/doc-extensions/what-is-xk6/what-is-xk6.view.js
  src/data/markdown/docs/07 extensions/01 Getting started/01 Overview.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/01 Guides/02 bundling.md
  src/templates/docs/bundle-builder.js
  src/templates/docs/explore-extensions.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/01 Guides/02 bundling.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix busted code fence
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Trim language and improve info architechture (#727)
  src/components/pages/doc-extensions/extensions-overview/overview.view.js
  src/components/pages/doc-extensions/extensions-quickstart/quickstart.component.js
  src/components/pages/doc-extensions/extensions-use-cases/use-cases.view.js
  src/components/pages/doc-extensions/what-is-xk6/what-is-xk6.view.js
  src/data/markdown/docs/07 extensions/01 Getting started/01 Overview.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Getting started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/01 Guides/02 bundling.md
  src/templates/docs/bundle-builder.js
  src/templates/docs/explore-extensions.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Adapts Notifications doc to style guide
  src/data/markdown/docs/03 cloud/03 Manage/03 Notifications.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Light edits to usage reports
  src/data/markdown/docs/03 cloud/03 Manage/05 Usage Reports.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix slug and clarify Jinja delimiter
  src/data/markdown/docs/03 cloud/03 Manage/03 Notifications.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Restructures Token doc recommendations
  src/data/markdown/docs/03 cloud/04 Integrations/04 Token.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
