Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Remove footer link
  src/components/blocks/footer/footer.view.js
Due: prettier --write, eslint --fix

xk6-disruptor: add sidebar link to the interactive demo
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/01 Inject Grpc faults into Service.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/02 Inject HTTP faults into Pod.md
  src/data/markdown/docs/40 xk6-disruptor/04 Examples/03 demo-environment.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add styles for code highlighting
  src/components/shared/code/code-group.module.scss
  src/components/shared/code/code.js
  src/components/shared/code/code.module.scss
Due: prettier --write, eslint --fix

feat: add test content
  src/data/markdown/docs/02 javascript api/01 Init context/open.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat(styles): change color for the function token
  src/components/shared/code/code.module.scss
Due: prettier --write

Remove sections about `k6 Cloud` on the `k6 OSS` documentation
  src/data/markdown/translated-guides/en/02 Using k6/01 HTTP requests.md
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
  src/data/markdown/translated-guides/en/02 Using k6/08 Tags and Groups.md
  src/data/markdown/translated-guides/en/02 Using k6/17 HTTP debugging.md
  src/data/markdown/translated-guides/es/02 Using k6/01 HTTP requests.md
  src/data/markdown/translated-guides/es/02 Using k6/02 Metrics.md
  src/data/markdown/translated-guides/es/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/es/02 Using k6/04 Thresholds.md
  src/data/markdown/translated-guides/es/02 Using k6/08 Tags and Groups.md
  src/templates/docs/guides.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove sections about `k6 Cloud` on the `k6 OSS` documentation
  src/data/markdown/translated-guides/es/02 Using k6/02 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix closing tag
  src/data/markdown/translated-guides/es/02 Using k6/02 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Change the sidebar position of `Testing guides`
  src/data/markdown/translated-guides/en/07 Testing Guides/01 API load testing.md
  src/data/markdown/translated-guides/en/07 Testing Guides/02 Automated performance testing.md
  src/data/markdown/translated-guides/en/07 Testing Guides/03 Load testing websites.md
  src/data/markdown/translated-guides/en/07 Testing Guides/04 Running large tests.md
  src/data/markdown/translated-guides/en/07 Testing Guides/images/Frontend-Backend-LoadTesting.png
  src/data/markdown/translated-guides/en/07 Testing Guides/images/backend-performance.png
  src/data/markdown/translated-guides/en/07 Testing Guides/images/frontend-rendering.png
  src/data/markdown/translated-guides/en/07 Testing Guides/images/hybrid-testing.png
  src/data/markdown/translated-guides/en/07 Testing Guides/images/large-scale-testing-3-terminals.png
  src/data/markdown/translated-guides/en/07 Testing Guides/images/our-tools.png
  src/data/markdown/translated-guides/en/07 Testing Guides/images/postman-export.png
  src/data/markdown/translated-guides/en/07 Testing Guides/images/vu-iteration-duration-k6-cli.png
  src/data/markdown/translated-guides/en/08 Misc/01 Usage collection.md
  src/data/markdown/translated-guides/en/08 Misc/02 IntelliSense.md
  src/data/markdown/translated-guides/en/08 Misc/03 Fine tuning OS.md
  src/data/markdown/translated-guides/en/08 Misc/04 k6 REST API.md
  src/data/markdown/translated-guides/en/08 Misc/06 Archive.md
  src/data/markdown/translated-guides/en/08 Misc/08 Release notes.md
  src/data/markdown/translated-guides/en/08 Misc/09 Glossary.md
  src/data/markdown/translated-guides/en/08 Misc/images/intellisense-k6-demo.gif
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

ci/pr-deploy: use git ref in cache key, but restore optimistically
  .github/workflows/pr-deploy.yml
Due: none

ci/pr-deploy: cache node modules and gatsby output
  .github/workflows/pr-deploy.yml
Due: none

ci/pr-deploy: remove `update-dependencies` job Both npm and node_modules cache will be generated by other PRs regardless of this job.
  .github/workflows/pr-deploy.yml
Due: none

ci/pr-deploy: restore node_modules cache on build job
  .github/workflows/pr-deploy.yml
Due: none

ci/pr-deploy: coalesce build and deploy jobs By doing this, we remove the need to upload the build output as a GH artifact as an intermediary step.
  .github/workflows/pr-deploy.yml
Due: none

Enable `Grafana Cloud k6` Docs
  gatsby-node.js
  src/components/blocks/footer/footer.view.js
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the cli.md
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

ci/pr-deploy: Combine build and upload jobs (#1183)
  .github/workflows/pr-deploy.yml
Due: none

ci/staging: leverage node_modules and gatsby output on staging as well
  .github/workflows/staging.yml
Due: none

ci/staging: leverage node_modules and gatsby output on staging as well (#1188)
  .github/workflows/staging.yml
Due: none

feat: re-enable xk6-prometheus
  src/data/doc-extensions/extensions.json
Due: none

Add `query` param for grafana.com links
  src/components/blocks/footer/footer.view.js
Due: prettier --write, eslint --fix

[fix]; missing comma
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] improve intro to scenario docs
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] fix executor intro
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] clarify and standardize executor intros
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/01 shared-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/02 per-vu-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/03 constant-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/04 ramping-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] close parens
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] remove unnecessary h2
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/07 externally-controlled.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] Correct grammatical number
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/01 shared-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/02 per-vu-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/03 constant-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] make scenario examples more general
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/01 shared-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/02 per-vu-iterations.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/03 constant-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/04 ramping-vus.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] correct example of a single request
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[fix] awkward sentence
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add extensions checkbox and link
  src/components/shared/checkbox-field/checkbox-field.module.scss
  src/components/shared/extension-card/extension-card.module.scss
  src/components/shared/extension-card/extension-card.view.js
  src/svg/external-link.inline.svg
Due: prettier --write, eslint --fix

chore: remove extensions card link
  src/components/shared/extension-card/extension-card.module.scss
  src/components/shared/extension-card/extension-card.view.js
Due: prettier --write, eslint --fix

chore: update extensions card link
  src/components/shared/extension-card/extension-card.module.scss
  src/components/shared/extension-card/extension-card.view.js
  src/styles/parts/global.scss
Due: prettier --write, eslint --fix

chore: update extensions card link icon
  src/components/shared/extension-card/extension-card.view.js
Due: prettier --write, eslint --fix

[feat] chunk down create custom metrics
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/100 Create custom metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] simplify running k6
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat] minor style improvements to modules
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

[feat]smooth get started text
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rewrite GCk6 paragraph. Replace pre-built dashboards for custom views
  src/data/markdown/translated-guides/en/04 Results output/300 Grafana dashboards.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `blockquote` on the k6 Cloud homepage
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix
