Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: add roboto mono fallback
  src/styles/parts/fonts.scss
Due: prettier --write

fix: add small fix
  src/styles/variables.scss
Due: prettier --write

Update 14 Scenarios.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

disruptor, change "alpha stage" to "alpha phase"
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Documenting the `--exclude-env-vars` (#937)
  src/data/markdown/translated-guides/en/07 Misc/06 Archive.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove + from influxdb slug
  gatsby-node.js
  src/data/markdown/docs/04 integrations/04 Results visualization/07 influxdb-grafana.md
  src/data/markdown/translated-guides/en/01 Get started/04 Results Output.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 InfluxDB - Grafana.md
  src/data/markdown/translated-guides/es/01 Getting started/04 Results Output.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Scenario examples, language clean up
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Favor character over encoding
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Delete redundant text and old reference
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Scenario examples, de-emphasize sequencing and composablilty
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

es, remove + from URI
  gatsby-node.js
  src/data/markdown/translated-guides/es/04 Results visualization/06 InfluxDB - Grafana.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

test types, cleans introduction
  src/data/markdown/translated-guides/en/05 Test Types/00 Introduction.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

scenarios example, say "combine" instead of "sequence"
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Link `Champions Program` page on footer
  src/components/blocks/footer/footer.view.js
Due: prettier --write, eslint --fix

removes another + from path
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix

Updated Prometheus Remote Write guide
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Test types, minor language smoothing
  src/data/markdown/translated-guides/en/05 Test Types/00 Introduction.md
  src/data/markdown/translated-guides/en/05 Test Types/01 Smoke Testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: add fallback fonts, using fontpie (#944)
  src/styles/parts/fonts.scss
  src/styles/variables.scss
Due: prettier --write

feat: add excerpt and heading fields to algolia
  gatsby-config.js
  src/utils/algolia.js
Due: prettier --write, eslint --fix

Update spelling to assess
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update spelling to assess (#948)
  src/data/markdown/translated-guides/en/06 Testing Guides/03 Load testing websites.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

scenarios, language trimming
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/04 Arrival Rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: fix extension indexing
  src/utils/algolia.js
Due: prettier --write, eslint --fix

feat: add excerpt and heading frontmatter fields to algolia (#947)
  gatsby-config.js
  src/utils/algolia.js
Due: prettier --write, eslint --fix

linkcheck, skip slack redirect
  .github/workflows/staging.yml
Due: none

Smoke test, some language fixes
  src/data/markdown/translated-guides/en/05 Test Types/01 Smoke Testing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

disruptor, style edits
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples.md
  src/data/markdown/docs/40 xk6-disruptor/03 Examples/01 Inject HTTP faults into Pod.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

typo fix
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestion
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updated metrics screenshot
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prom-rw-metrics.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prom.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

added stale marker option
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reorder
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add How it works section to xk6-disruptor
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 How  it works.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/05 Expose  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/images/how-pod-disruptor-works.excalidraw
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/images/how-pod-disruptor-works.png
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/images/how-service-disruptor-works.excalidraw
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/images/how-service-disruptor-works.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move to Explanations section
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/04 Expose  Your Application.md
  src/data/markdown/docs/40 xk6-disruptor/04 Explanations.md
  src/data/markdown/docs/40 xk6-disruptor/04 Explanations/01 How  it works.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove reference from get started page
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/02 Advanced Examples.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Not capitalize remote write
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

stale markers doc
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
