Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Update Analyze results tutorial
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/300 Analyze results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update reRun test
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Minor edit changes
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/300 Analyze results.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update k6/crypto to recommend the webcrypto API
  src/data/markdown/docs/02 javascript api/03 k6-crypto.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add check back to waitforfunc
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/10 Page/waitforfunction--options--.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add browser module run example
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update devices example to H2
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/100 Test-for-functional-behavior.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/100 Test-for-functional-behavior.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Tutorial: Get started with k6 (#1192)
  .eslintignore
  src/data/doc-examples/links.json
  src/data/markdown/docs/05 Examples/02 Tutorials.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/100 Test-for-functional-behavior.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/300 Analyze results.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 datadog-alerts.md
  src/data/markdown/docs/05 Examples/02 Tutorials/02 postman.md
  src/data/markdown/docs/05 Examples/02 Tutorials/02 simple-k6-learn.md
  src/data/markdown/docs/05 Examples/02 Tutorials/03 k6-learn.md
  src/data/markdown/docs/05 Examples/02 Tutorials/04 openapi.md
  src/data/markdown/docs/05 Examples/02 Tutorials/05 cron.md
  src/data/markdown/docs/05 Examples/02 Tutorials/07 graphql.md
  src/data/markdown/docs/05 Examples/02 Tutorials/08 restful-apis.md
  src/data/markdown/docs/05 Examples/02 Tutorials/09 typescript.md
  src/data/markdown/docs/05 Examples/02 Tutorials/10 debugging-using-proxy.md
  src/data/markdown/docs/05 Examples/02 Tutorials/11 k6-operator.md
  src/data/markdown/docs/05 Examples/02 Tutorials/12 k6-extensions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add robots to guides frontmatter and upd guides category props
  gatsby-node.js
  src/components/shared/seo/seo.view.js
  src/templates/doc-page.js
Due: prettier --write, eslint --fix

Update Test Types index page
  src/data/markdown/translated-guides/en/06 Test Types.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Create `Testing Guides` index page
  src/data/markdown/translated-guides/en/07 Testing Guides.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: generation guides pages props
  gatsby-node.js
Due: prettier --write, eslint --fix

GRPC streaming
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/07 grpc.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/07 grpc/30 Stream/10-Stream-on.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/07 grpc/30 Stream/15-Stream-error.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/07 grpc/30 Stream/40-Stream-end.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/07 grpc/30 Stream/40-Stream-write.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/07 grpc/50-Stream.md
  src/data/markdown/docs/02 javascript api/11 k6-net-grpc.md
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics/000-reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `Experimental module` admonition
  src/components/shared/experimental-blockquote/experimental-blockquote.view.js
Due: prettier --write, eslint --fix

Update `k6/ws` blockquote to refer the experimental module
  src/components/shared/ws-blockquote/index.js
  src/components/shared/ws-blockquote/ws-blockquote.view.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/12 k6-ws.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/10-connect- url- params- callback -.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/20-Params.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-close--.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-on-event- callback-.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-ping--.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-send-data-.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-sendBinary.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-setInterval-callback- interval-.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-setTimeout-callback- delay-.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `k6/ws` blockquote to refer the experimental module (#1226)
  src/components/shared/ws-blockquote/index.js
  src/components/shared/ws-blockquote/ws-blockquote.view.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/12 k6-ws.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/10-connect- url- params- callback -.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/20-Params.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-close--.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-on-event- callback-.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-ping--.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-send-data-.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-sendBinary.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-setInterval-callback- interval-.md
  src/data/markdown/docs/02 javascript api/12 k6-ws/80 Socket/Socket-setTimeout-callback- delay-.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update `Experimental module` admonition (#1225)
  src/components/shared/experimental-blockquote/experimental-blockquote.view.js
Due: prettier --write, eslint --fix

Create CryptoBlockquote. Show it for all `k6/crypto` modules
  src/components/shared/crypto-blockquote/crypto-blockquote.view.js
  src/components/shared/crypto-blockquote/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/03 k6-crypto.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/01-createHash- algorithm -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/02-createHMAC- algorithm- secret -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/03-hmac- algorithm- secret- data- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/04-md4- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/05-md5- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/06-randomBytes- int -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/07-ripemd160- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/08-sha1- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/09-sha256- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/10-sha384- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/11-sha512- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/12-sha512_256- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/13-sha512_224- input- outputEncoding -.md
  src/data/markdown/docs/02 javascript api/03 k6-crypto/80-Hasher.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix
