Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Add instructions for binaries
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add platform labels to code snippets
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: update k6-utils version from 1.2.0 to 1.4.0
  src/data/markdown/docs/20 jslib/01 jslib/04 utils.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: update dependencies
  .eslintrc
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: add dependency_update issue
  DEPENDENCY_UPDATE.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: update dependency_update.md
  DEPENDENCY_UPDATE.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: upgrade dependencies to latest version (#918)
  .eslintrc
  DEPENDENCY_UPDATE.md
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add links to xk6-disruptor and xk6-browser on the homepage
  src/components/pages/doc-welcome/use-cases/use-cases.view.js
  src/i18n/guides-translations.js
Due: prettier --write, eslint --fix

add extension xk6-output-timestream
  src/data/doc-extensions/extensions.json
Due: none

disruptor; fix link to agent CLI reference
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/02 Requirements.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update with review comments
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/03 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

xk6-browser, reduce admonition levels
  src/data/markdown/docs/30 xk6-browser/01 Get started/04 Metrics.md
  src/data/markdown/docs/30 xk6-browser/01 Get started/05 Selecting elements.md
  src/data/markdown/docs/30 xk6-browser/02 API/01 Browser/isconnected.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/clearCookies.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/clearPermissions.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/pages.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/setDefaultNavigationTimeout.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/setDefaultTimeout.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/setGeolocation.md
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/waitForEvent.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/check--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/click--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/dblclick--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/hover--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/selectoption--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/tap--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/uncheck--options--.md
  src/data/markdown/docs/30 xk6-browser/02 API/08 Locator/waitfor--options--.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

change WIP admonition to warning
  src/components/shared/browser-docs-wip/browser-docs-wip.view.js
Due: prettier --write, eslint --fix

xk6, Clarify output extensions
  src/components/pages/doc-extensions/extensions-overview/overview.view.js
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

options, fix typo and remove ancient version
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Moves note on custom metrics to correct section
  src/data/markdown/translated-guides/en/02 Using k6/02 Metrics.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Options, fix broken link
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

make WIP message more general
  src/components/shared/browser-docs-wip/browser-docs-wip.view.js
Due: prettier --write, eslint --fix

Cross-link `xk6-disruptor`
  src/data/markdown/docs/04 integrations/06 Chaos engineering/01 steadybit.md
  src/data/markdown/docs/04 integrations/06 Chaos engineering/02 xk6-disruptor.md
  src/data/markdown/docs/04 integrations/06 Chaos engineering/03 chaostoolkit.md
  src/data/markdown/docs/04 integrations/07 Test management/01 azuretest.md
  src/data/markdown/docs/04 integrations/07 Test management/02 testrail.md
  src/data/markdown/docs/04 integrations/07 Test management/03 xray.md
  src/templates/docs/integrations.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Cross-link Cloud environment variables
  src/data/markdown/translated-guides/en/02 Using k6/11 Environment variables.md
  src/data/markdown/translated-guides/es/02 Using k6/11 Environment variables.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

lint WIP component
  src/components/shared/browser-docs-wip/browser-docs-wip.view.js
Due: prettier --write, eslint --fix

double dash for verbose flags
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

extensions landing, describe use case more simply
  src/components/pages/doc-extensions/extensions-use-cases/use-cases.view.js
Due: prettier --write, eslint --fix

fix: update version-banner styling
  src/components/shared/version-banner/version-banner.module.scss
Due: prettier --write

fix: minor canonical issues
  src/components/shared/seo/seo.view.js
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/grantPermissions.md
  src/utils/seo-metadata.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

disruptor: capitalization fix
  src/data/markdown/docs/40 xk6-disruptor/01 Get started/01 Welcome.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Lifecycle, correct setup heading
  src/data/markdown/translated-guides/en/02 Using k6/06 Test lifecycle.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: update doc pages frontmatter slug
  gatsby-node.js
Due: prettier --write, eslint --fix

add init block in the example
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Mention Prometheus dashboards
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 Prometheus.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/00 TimescaleDB.md
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prometheus-dashboard-test-result.png
  src/data/markdown/translated-guides/en/03 Results output/200 Real-time/images/Prometheus/prometheus-dashboard-test-runs.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reference `chaijs` example
  src/data/markdown/docs/20 jslib/01 jslib/03 k6chaijs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: update doc pages slug
  gatsby-node.js
  src/data/markdown/docs/30 xk6-browser/02 API/02 BrowserContext/grantPermissions.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

modules, standardize some formatting
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
