Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Refactors info on saving, comparing, and retaining
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/09 Performance Trending.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Test Results Menu.md
  src/data/markdown/docs/03 cloud/06 Billing & User Menu/04 Data Retention.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

misc link fixes
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/04 SAML SSO/02 Okta.md
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/01 General.md
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/03 Private Load Zones.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Language fixes to articles
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Test Results Menu.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/images/08-Test-Results-Menu/k6-save-test-result.png
  src/data/markdown/docs/03 cloud/06 Billing & User Menu/04 Data Retention.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adding redirects from deleted page
  gatsby-node.js
  src/templates/docs/cloud.js
Due: prettier --write, eslint --fix

fix frontmatter
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/30 xk6-browser/01 xk6-browser/01 Browser.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: logic for upcoming nested table
  src/components/shared/table-with-nested-rows/svg/collapsible-closed.inline.svg
  src/components/shared/table-with-nested-rows/svg/collapsible-open.inline.svg
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: styles for nested tables
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Defines thresholds and checks more precisely
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Regularize JavaScript casing
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: nested table tooltip support
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/components/shared/tooltip/bnit/bnit.js
  src/components/shared/tooltip/bwipt/bwipt.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

JavaScript capitalization
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Defines thresholds and checks more precisely (#734)
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Warns about streaming and subscription usage
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/translated-guides/en/04 Results visualization/02 Cloud.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add code and default value for websockets
  src/data/markdown/docs/02 javascript api/11 k6-ws/80 Socket/Socket-close--.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add blockquote updates
  src/components/shared/blockquote/blockquote.module.scss
  src/components/shared/blockquote/blockquote.view.js
  src/components/shared/blockquote/svg/attention.inline.svg
  src/components/shared/blockquote/svg/pencil-note.inline.svg
  src/components/shared/blockquote/svg/warning.inline.svg
  src/styles/variables.scss
Due: prettier --write, eslint --fix

fix: little bugs and content of response file
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: extended contributin file format
  .eslintignore
  CONTRIBUTING_FILE_FORMAT.md
  internal-images/table-with-nested-rows.png
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: adjusted contributing file format mark up
  CONTRIBUTING_FILE_FORMAT.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More precise preface to link
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Using checks: emphasize that they don't halt tests
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add code and default value for websockets (#735)
  src/data/markdown/docs/02 javascript api/11 k6-ws/80 Socket/Socket-close--.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

refactor: component and docs
  CONTRIBUTING_FILE_FORMAT.md
  internal-images/blockquote-set-1.jpg
  internal-images/blockquote-set-2.jpg
  src/components/shared/blockquote/blockquote.module.scss
  src/components/shared/blockquote/blockquote.view.js
  src/components/shared/blockquote/svg/note.inline.svg
  src/styles/variables.scss
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

add admonitions updates (#737)
  CONTRIBUTING_FILE_FORMAT.md
  internal-images/blockquote-set-1.jpg
  internal-images/blockquote-set-2.jpg
  src/components/shared/blockquote/blockquote.module.scss
  src/components/shared/blockquote/blockquote.view.js
  src/components/shared/blockquote/svg/attention.inline.svg
  src/components/shared/blockquote/svg/note.inline.svg
  src/components/shared/blockquote/svg/warning.inline.svg
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix gRPC Params object to account for headers deprecation in v0.37.0
  src/data/markdown/docs/02 javascript api/10 k6-net-grpc/20-Params.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/10 k6-net-grpc/20-Params.md
  src/data/markdown/versioned-js-api/v0.38/javascript api/10 k6-net-grpc/20-Params.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updates some blockquotes for new features
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
  src/data/markdown/translated-guides/en/04 Results visualization/02 Cloud.md
  src/data/markdown/translated-guides/en/04 Results visualization/05 Grafana Cloud.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Improve warning for old rpm-based distros
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Clarifies use for different data structures
  src/data/markdown/docs/02 javascript api/08 k6-http/10-batch- requests -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

typo fix
  src/data/markdown/docs/02 javascript api/08 k6-http/10-batch- requests -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Improve warning for old rpm-based distros (#739)
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation/01 Troubleshooting.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Changes cloud streaming admonition
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/translated-guides/en/04 Results visualization/02 Cloud.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fixes links to old options page
  src/data/markdown/translated-guides/en/02 Using k6/11 Environment variables.md
  src/data/markdown/translated-guides/en/02 Using k6/17 HTTP debugging.md
  src/data/markdown/translated-guides/en/04 Results visualization/11 TimescaleDB.md
  src/data/markdown/translated-guides/en/06 Testing Guides/04 Running large tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove redundant checks information
  src/data/markdown/translated-guides/en/02 Using k6/03 Checks.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add DefinitionList component and update docs
  CONTRIBUTING_FILE_FORMAT.md
  internal-images/Definition-list.png
  src/components/shared/definition-list/definition-list.module.scss
  src/components/shared/definition-list/definition-list.view.js
  src/components/shared/definition-list/index.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: introduced custom anchors functionality
  CONTRIBUTING_FILE_FORMAT.md
  internal-images/custom-anchors.jpg
  src/components/shared/heading/heading.view.js
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

removes example headers
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds real anchor for order of precedence
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: introduced custom anchors functionality (#741)
  CONTRIBUTING_FILE_FORMAT.md
  internal-images/custom-anchors.jpg
  src/components/shared/heading/heading.view.js
  src/data/markdown/translated-guides/en/01 Getting started/02 Installation.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

JSAPI; removes an unavailable response property
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken links to old pages
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
