Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Update src/data/markdown/docs/05 Examples/01 Examples/08 cookies-example.md
  src/data/markdown/docs/05 Examples/01 Examples/08 cookies-example.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Feature/add docs for cookies (#661)
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar.md
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar/CookieJar-delete-url.md
  src/data/markdown/docs/05 Examples/01 Examples/08 cookies-example.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

CookieJar docs, merge best of duplicate content
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar/CookieJar-delete-url-name.md
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar/CookieJar-delete-url.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Restore release notes
  src/data/markdown/translated-guides/en/07 Misc/08 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

third-level edits
  .vale/Vocab/docs/accept.txt
  src/data/markdown/translated-guides/en/01 Getting started/05 infomap.md
  src/data/markdown/translated-guides/en/01 Getting started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Structure; gathers external links into resources (#779)
  .vale/Vocab/docs/accept.txt
  src/data/markdown/translated-guides/en/01 Getting started/05 Community.md
  src/data/markdown/translated-guides/en/01 Getting started/05 resources.md
  src/data/markdown/translated-guides/en/07 Misc/07 Typescript.md
  src/data/markdown/translated-guides/en/07 Misc/08 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Typo fix
  src/data/markdown/translated-guides/en/01 Getting started/05 resources.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Normalize cloud release version numbers
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

deletes obsolete info about Lua
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/06 What's the Difference Between k6 Cloud's Version 3.0 (Lua) and 4.0(JavaScript).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

PLZ to running tests
  src/data/markdown/docs/03 cloud/01 Creating and running a test/500 Private load zones.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

moves pricing faq to "your plan"
  gatsby-node.js
  src/data/markdown/docs/03 cloud/06 Your plan/05 Pricing.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

new admonition
  src/data/markdown/docs/03 cloud/02 Analyzing Results/10 Test Results Menu.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Delete old and unused images
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/images/09-Calculating-virtual-users/calculating-the-number-of-virtual-users-to-test-1.png
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/images/09-Calculating-virtual-users/calculating-the-number-of-virtual-users-to-test-2.png
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/images/09-Calculating-virtual-users/calculating-the-number-of-virtual-users-to-test-3.png
Due: none

Destructure General FAQ
  src/data/markdown/docs/03 cloud/01 Creating and running a test/400 Troubleshooting.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/images/Troubleshooting/k6-concurrency-limit-policy.png
  src/data/markdown/docs/03 cloud/01 Creating and running a test/images/Troubleshooting/k6-project-dashboard.png
  src/data/markdown/docs/03 cloud/07 Cloud REST API/06 Cloud REST API.md
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/01 General.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/100 Test status codes.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud/plan, moves ordering from base-1 to base-100
  src/data/markdown/docs/03 cloud/06 Your plan/100 Settings.mdx
  src/data/markdown/docs/03 cloud/06 Your plan/200 Subscription.md
  src/data/markdown/docs/03 cloud/06 Your plan/300 Billing.md
  src/data/markdown/docs/03 cloud/06 Your plan/350 Pricing.md
  src/data/markdown/docs/03 cloud/06 Your plan/400 Data retention.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix references to old links
  src/data/markdown/docs/03 cloud/03 Manage/03 Notifications.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
  src/data/markdown/translated-guides/en/02 Using k6/12 Execution context variables.md
  src/data/markdown/translated-guides/en/02 Using k6/17 HTTP debugging.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

proofreads new topics
  src/data/markdown/docs/03 cloud/01 Creating and running a test/400 Troubleshooting.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/100 Test status codes.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Unruins ruined reference page
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: nested table tooltip support
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

running k6, cosmetic changes
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Redirects old FAQ general questions to /cloud
  gatsby-node.js
Due: prettier --write, eslint --fix

Move more miscellaneous reference
  src/data/markdown/docs/03 cloud/08 Cloud reference/800 Cloud REST API.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Destructure General FAQ
  src/data/markdown/docs/03 cloud/01 Creating and running a test/400 Troubleshooting.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/100 Test status codes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: styles for nested tables
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: logic for upcoming nested table
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

updates release for v4
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

WIP Team docs
  src/data/markdown/docs/03 cloud/05 Project and Team Management/05 Teams.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams1.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams2.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams3.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams4.png
  src/data/markdown/docs/03 cloud/05 Project and Team Management/images/05-Teams/teams5.png
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add component TableWithNestedRows
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

typo fixes
  src/data/markdown/translated-guides/en/01 Getting started/03 Running k6.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Cloud release notes
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More team cleanup
  src/data/markdown/docs/03 cloud/05 Project and Team Management/05 Teams.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: extended contributin file format
  CONTRIBUTING_FILE_FORMAT.md
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Description lists for PLZs and status codes
  src/data/markdown/docs/03 cloud/01 Creating and running a test/500 Private load zones.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud; renames billing sidebar to "Your plan"
  src/data/markdown/docs/03 cloud/06 Your plan/01 Settings.mdx
  src/data/markdown/docs/03 cloud/06 Your plan/02 Subscription.md
  src/data/markdown/docs/03 cloud/06 Your plan/03 Billing.md
  src/data/markdown/docs/03 cloud/06 Your plan/04 Data Retention.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

moves pricing faq to "your plan"
  src/data/markdown/docs/03 cloud/06 Your plan/01 Settings.mdx
  src/data/markdown/docs/03 cloud/06 Your plan/02 Subscription.md
  src/data/markdown/docs/03 cloud/06 Your plan/03 Billing.md
  src/data/markdown/docs/03 cloud/06 Your plan/04 Data Retention.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Destructure General FAQ
  src/data/markdown/docs/03 cloud/01 Creating and running a test/400 Troubleshooting.md
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Release notes.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/100 Test status codes.md
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Description lists for PLZs and status codes
  src/data/markdown/docs/03 cloud/08 Cloud reference/200 Cloud IPs.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Move more miscellaneous reference
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix references to old links
  src/data/markdown/docs/03 cloud/08 Cloud reference/999 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix
