Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Move the xk6-chaos extension to use the grafana repo as it already does
  src/data/doc-extensions/extensions.json
Due: none

I update my username to be lowercase for github module reasons
  src/data/doc-extensions/extensions.json
Due: none

link fix
  src/data/markdown/translated-guides/en/02 Using k6/12 Execution context variables.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix jslib-aws S3Client page's broken links
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/01 S3Client.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix jslib-aws SecretsManagerClient page's broken links
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/02 SecretsManagerClient.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix jslib-aws AWSConfig page's broken links
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/03 AwsConfig.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update jslib-aws examples to use v0.4.0
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/01 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/02 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/03 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/01 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/02 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/03 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/04 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/05 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/98 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/99 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/01 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/02 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/03 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow: 30, noRecovery: false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/05 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/99 Secret.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Extension fixes (#666)
  src/data/doc-extensions/extensions.json
Due: none

Address broken links in jslib-aws's docs and update to v0.4.0 (#667)
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/01 S3Client.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/02 SecretsManagerClient.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/03 AwsConfig.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/01 listBuckets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/02 listObjects(bucketName, [prefix]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/03 getObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/04 putObject(bucketName, objectKey, data).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/05 deleteObject(bucketName, objectKey).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/98 Object.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/S3Client/99 Bucket.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/01 listSecrets().md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/02 getSecret(secretID).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/03 createSecret(name, secretString, description, [versionID], [tags]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow: 30, noRecovery: false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/05 putSecretValue(secretID, secretString, [versionID]).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/99 Secret.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

link fix
  src/data/markdown/translated-guides/en/01 Getting started/04 Results Output.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Replace k6 module mention with @types/k6
  src/data/markdown/translated-guides/en/02 Using k6/07 Modules.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

more End of test rewriting
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

EoT, rearranges doc and gives example more details
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

makes cloud link more prominent and options an h2
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

typo fix
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

better organizes options and removes dupe
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Rewrites end-of-test summary doc (#670)
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updated the threshold key in the example
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

lint and fix gatsby error
  src/data/markdown/translated-guides/en/04 Results visualization/00 End-of-test Summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Updated the threshold key in the example (#671)
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: fix wrong URL in metadata for Jslib pages
  src/components/shared/seo/seo.view.js
Due: prettier --write, eslint --fix

makes browser recorder doc actually readable
  src/data/markdown/translated-guides/en/03 Test authoring/02 Recording a session.md
  src/data/markdown/translated-guides/en/03 Test authoring/02 Recording a session/01 Browser recorder.md
  src/data/markdown/translated-guides/en/03 Test authoring/02 Recording a session/02 Har converter.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: fix wrong URL in metadata for Jslib pages (#673)
  src/components/shared/seo/seo.view.js
Due: prettier --write, eslint --fix

Add xk6-websockets to the extensions list (#644)
  src/data/doc-extensions/extensions.json
  src/data/markdown/docs/02 javascript api/11 k6-ws.md
  src/data/markdown/translated-guides/en/02 Using k6/10 Protocols/02 WebSockets.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reformat `tlsVersion` examples on the options page
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/data/markdown/translated-guides/es/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: lint eslint
  src/data/markdown/docs/02 javascript api/08 k6-http/60 CookieJar/CookieJar-clear-url.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

browser-recorder; fixes hypertext
  src/data/markdown/translated-guides/en/03 Test authoring/02 Recording a session/01 Browser recorder.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

feat: add component TableWithNestedRows
  src/components/shared/table-with-nested-rows/index.js
  src/components/shared/table-with-nested-rows/table-with-nested-rows.module.scss
  src/components/shared/table-with-nested-rows/table-with-nested-rows.view.js
  src/components/templates/doc-page/doc-page-content/doc-page-content.view.js
  src/data/markdown/docs/02 javascript api/08 k6-http/61 Response.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Add reference to Loki tutorial
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/data/markdown/translated-guides/es/02 Using k6/05 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `xk6-client-tracing`
  src/data/doc-extensions/extensions.json
Due: none

Options, splits reference from order-of-precedence
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/data/markdown/translated-guides/en/02 Using k6/05 Options/01 Options reference.md
  src/data/markdown/translated-guides/en/02 Using k6/images/Options/order-of-precedence.svg
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Options: finishes content aspect of restructure
  src/data/markdown/translated-guides/en/02 Using k6/05 Options.md
  src/data/markdown/translated-guides/en/02 Using k6/05 Options/01 How to.md
  src/data/markdown/translated-guides/en/02 Using k6/05 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

options reference, adds loki link
  src/data/markdown/translated-guides/en/02 Using k6/05 Options/01 Options reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds redirect, /options -> /k6-options
  gatsby-node.js
  src/data/markdown/translated-guides/en/02 Using k6/05 Options/02 Reference.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

moves order-of-precedence link to correct anchor
  src/data/markdown/translated-guides/en/02 Using k6/11 Environment variables.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

cloud; small language fix.
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Options restructure: fix `slugs` and redirects
  gatsby-node.js
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Cloud release notes
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/03 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Disable vale as CI build step
  .github/workflows/pr-deploy.yml
  .github/workflows/production.yml
  .github/workflows/staging.yml
Due: none

ci: migrate Vale usage to vale-action
  .github/workflows/pr-deploy.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
