Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

.lintstagedrc:

{
  "*.{js,jsx,css,scss}": "prettier --write",
  "*.{js,jsx}": "eslint --fix",
  "*.{md,mdx}": "eslint -c ./src/data/markdown/.eslintrc.js --fix"
}

Add browser.closeContext() docs
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/closecontext.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove 443 WIP for clearPermissions
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/02 BrowserContext.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/02 BrowserContext/clearPermissions.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update 03 oauth-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

prepare `canonicalURLs` option on `Examples` and `Extensions` folders
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
  src/data/markdown/docs/05 Examples/01 Examples/02 http-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
  src/data/markdown/docs/05 Examples/01 Examples/04 correlation-and-dynamic-data.md
  src/data/markdown/docs/05 Examples/01 Examples/05 data-parameterization.md
  src/data/markdown/docs/05 Examples/01 Examples/06 parse-html.md
  src/data/markdown/docs/05 Examples/01 Examples/07 html-forms.md
  src/data/markdown/docs/05 Examples/01 Examples/08 cookies-example.md
  src/data/markdown/docs/05 Examples/01 Examples/09 data-uploads.md
  src/data/markdown/docs/05 Examples/01 Examples/10 api-crud-operations.md
  src/data/markdown/docs/05 Examples/01 Examples/11 generating-uuids.md
  src/data/markdown/docs/05 Examples/01 Examples/12 http2.md
  src/data/markdown/docs/05 Examples/01 Examples/13 websockets.md
  src/data/markdown/docs/05 Examples/01 Examples/14 soap.md
  src/data/markdown/docs/05 Examples/01 Examples/15 tls.md
  src/data/markdown/docs/05 Examples/01 Examples/16 data generation.md
  src/data/markdown/docs/05 Examples/01 Examples/17 crawl-webpage.md
  src/data/markdown/docs/05 Examples/01 Examples/18 Bundling and transpilation.md
  src/data/markdown/docs/05 Examples/01 Examples/19 functional testing.md
  src/data/markdown/docs/05 Examples/01 Examples/20 tracking-data-per-url.md
  src/data/markdown/docs/05 Examples/01 Examples/21 URL query parameters.md
  src/data/markdown/docs/05 Examples/01 Examples/22 instant-load-increase.md
  src/data/markdown/docs/05 Examples/01 Examples/23 get-timings-for-an-http-metric.md
  src/data/markdown/docs/05 Examples/01 Examples/24 distribute-workloads.md
  src/data/markdown/docs/05 Examples/02 Tutorials.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/100 Test-for-functional-behavior.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/200 Test for performance.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/300 Analyze results.md
  src/data/markdown/docs/05 Examples/02 Tutorials/01 Get started with k6/400 Reuse and re-run tests.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/01 JavaScript Extensions.md
  src/data/markdown/docs/07 extensions/01 Get started/04 Create/02 Output Extensions.md
  src/data/markdown/docs/07 extensions/02 Explanations/010-extensions-registry.md
  src/data/markdown/docs/07 extensions/02 Explanations/020-go-js-bridge.md
  src/data/markdown/docs/07 extensions/02 Explanations/030-extension-graduation.md
  src/data/markdown/docs/07 extensions/03 Guides/02 bundling.md
  src/data/markdown/docs/07 extensions/03 Guides/03 develop.md
  src/data/markdown/docs/07 extensions/03 Guides/build-k6-using-docker.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove duplicated AWS.SecretsManagerClient.deleteSecret
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove deprecated Extension page
  gatsby-node.js
  src/data/markdown/docs/07 extensions/03 Guides/03 develop.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Update broken link in xk6-disruptor docs
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add example for azure b2c OAuth (#1336)
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix missing space before closing CodeGroup tag
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add missing closing CodeGroup tag to oauth example
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken link
  src/data/markdown/docs/05 Examples/01 Examples/03 oauth-authentication.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document Pod termination fault
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/03 Pod Termination.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/04 TerminatePods.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/04 TerminatePods.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/03 Pod Termination.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/04 TerminatePods.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/04 TerminatePods.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document Pod termination fault (#1381)
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/01 Faults/03 Pod Termination.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/02 PodDisruptor/04 TerminatePods.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor.md
  src/data/markdown/docs/40 xk6-disruptor/03 API/03 ServiceDisruptor/04 TerminatePods.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Set `canonicalUrl` for non-markdown pages
  src/utils/seo-metadata.js
Due: prettier --write, eslint --fix

Remove deprecated `jslib/expect` library
  gatsby-node.js
  src/data/markdown/docs/20 jslib/01 jslib/10 expect.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/10 error handling.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/20 describe(name, function) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/21 expect(value).md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/22 and(value).md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/23 as(alias).md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/30 toEqual.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/31 toBeGreaterThan.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/32 toBeGreaterThanOrEqual.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/33 toBeLessThan.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/34 toBeLessThanOrEqual.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/35 toBeBetween.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/36 toBeTruthy.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/40 toHaveValidJson.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/images/exception-handling.png
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/images/functional.js-sample-output.png
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/images/test-output.png
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Remove deprecated and duplicated APIs (#1382)
  gatsby-node.js
  src/data/markdown/docs/07 extensions/03 Guides/03 develop.md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, { recoveryWindow 30, noRecovery false}}).md
  src/data/markdown/docs/20 jslib/01 jslib/05 aws/SecretsManagerClient/04 deleteSecret(secretID, {{ recoveryWindow 30, noRecovery false }}).md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/10 error handling.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/20 describe(name, function) copy.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/21 expect(value).md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/22 and(value).md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/23 as(alias).md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/30 toEqual.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/31 toBeGreaterThan.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/32 toBeGreaterThanOrEqual.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/33 toBeLessThan.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/34 toBeLessThanOrEqual.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/35 toBeBetween.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/36 toBeTruthy.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/40 toHaveValidJson.md
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/images/exception-handling.png
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/images/functional.js-sample-output.png
  src/data/markdown/docs/20 jslib/01 jslib/10 expect/images/test-output.png
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

docs: fix small typos
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/01 shared-iterations.md
  src/data/markdown/translated-guides/en/04 Results output/100 End-of-test/150-custom-summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add homepage ES redirect
  gatsby-node.js
Due: prettier --write, eslint --fix

docs: fix small typos (#1385)
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/01 shared-iterations.md
  src/data/markdown/translated-guides/en/04 Results output/100 End-of-test/150-custom-summary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update broken link in xk6-disruptor docs (#1380)
  src/data/markdown/docs/40 xk6-disruptor/01 Get started.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add `make docs` procedure
  docs/Makefile
  docs/docs.mk
  docs/variables.mk
Due: none

Add workflow to keep `make docs` procedure up to date
  .github/workflows/update-make-docs.yml
Due: none

Update doc-validator workflow
  .github/workflows/doc-validator.yml
Due: none

Add publishing workflow
  .github/workflows/publish-technical-documentation.yml
Due: none

Fix doc-validator errors
  .eslintignore
  docs/sources/v0.47.x/_index.md
  docs/sources/v0.47.x/extensions/_index.md
  docs/sources/v0.47.x/extensions/create/_index.md
  docs/sources/v0.47.x/extensions/explore.md
  docs/sources/v0.47.x/javascript-api/jslib/k6chaijs/error-handling.md
  docs/sources/v0.47.x/javascript-api/k6-encoding/b64encode--input---encoding.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/locator/iseditable.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/browser/page/setcontent.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/redis/client/client-decrby.md
  docs/sources/v0.47.x/javascript-api/k6-experimental/webcrypto/crypto/_index.md
  docs/sources/v0.47.x/javascript-api/k6-http/url.md
  docs/sources/v0.47.x/javascript-api/xk6-disruptor/_index.md
  docs/sources/v0.47.x/misc/glossary.md
  docs/sources/v0.47.x/misc/integrations.md
  docs/sources/v0.47.x/results-output/real-time/prometheus-remote-write.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/examples/_index.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/first-steps.md
  docs/sources/v0.47.x/testing-guides/running-distributed-tests.md
  docs/sources/v0.47.x/testing-guides/running-large-tests.md
  docs/sources/v0.47.x/using-k6/k6-options/how-to.md
  docs/sources/v0.47.x/using-k6/k6-options/reference.md
  docs/sources/v0.47.x/using-k6/modules.md
  docs/sources/v0.47.x/using-k6/thresholds.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix remaining doc-validator errors
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/_index.md
  docs/sources/v0.47.x/testing-guides/injecting-faults-with-xk6-disruptor/examples/inject-grpc-faults-into-service.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update browserContext.waitForEvent
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/02 BrowserContext.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/01 browser/02 BrowserContext/waitForEvent.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Temporarily disable the requirement for description front matter to be present
  .github/workflows/doc-validator.yml
Due: none
