Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Use httpbin.test.k6.io for race test
  src/data/markdown/docs/02 javascript api/09 k6-http/10-asyncRequest- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Apply suggestions from code review
  src/data/markdown/docs/02 javascript api/09 k6-http/10-asyncRequest- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add a link to k6 browser from the experimental module section
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

rename k6 browser to browser
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

change label to k6 browser
  gatsby-node.js
  src/data/markdown/docs/30 xk6-browser/01 Get started.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

update K6_BROWSER_ENABLED value to true
  src/data/markdown/docs/30 k6-browser/01 Get started/02 Running browser tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix(Scenarios guide): wrong link to constant-arrival-rate
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

chore: check versioning and minor fixes
  gatsby-node.js
  src/components/shared/dropdown/dropdown.view.js
  src/utils/algolia.js
  src/utils/versioning.js
Due: prettier --write, eslint --fix

chore: fix prod deployment due to versioning changes
  src/utils/versioning.js
Due: prettier --write, eslint --fix

chore: fix prod deployment due to versioning changes (#1041)
  src/utils/versioning.js
Due: prettier --write, eslint --fix

Port changes from ebf5ffe
  src/data/markdown/docs/02 javascript api/09 k6-http/10-request- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Document the k6/experimental/tracing module
  src/data/markdown/docs/02 javascript api/07 k6-experimental.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/04 tracing.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/04 tracing/01 instrumentHTTP.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/04 tracing/02 Client.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/04 tracing/03 Options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Soften some marketing language biased towards k6
  src/data/markdown/translated-guides/en/06 Testing Guides/04 Running large tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update links to k6-benchmarks
  src/data/markdown/translated-guides/en/06 Testing Guides/04 Running large tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

refactor: versioning
  gatsby-config.js
  gatsby-node.js
  src/components/shared/dropdown/dropdown.view.js
  src/components/shared/version-switcher/version-switcher.view.js
  src/layouts/doc-layout/doc-layout.view.js
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
  src/utils/algolia.js
  src/utils/utils.node.js
  src/utils/versioning.js
Due: prettier --write, eslint --fix

fix: bug with missing version tag on latest
  gatsby-node.js
  src/layouts/doc-layout/doc-layout.view.js
Due: prettier --write, eslint --fix

refactor: versioning (#1043)
  gatsby-config.js
  gatsby-node.js
  src/components/shared/dropdown/dropdown.view.js
  src/components/shared/version-switcher/version-switcher.view.js
  src/templates/docs/javascript-api.js
  src/templates/docs/versioned-javascript-api.js
  src/utils/algolia.js
  src/utils/utils.node.js
  src/utils/versioning.js
Due: prettier --write, eslint --fix

fix(Scenarios guide): add trailing slash to spare extra 302's
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: link version condition
  src/components/shared/link/link.view.js
Due: prettier --write, eslint --fix

Update src/data/markdown/docs/02 javascript api/07 k6-experimental/04 tracing.md
  src/data/markdown/docs/02 javascript api/07 k6-experimental/04 tracing.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update src/data/markdown/docs/30 k6-browser/02 API/02 BrowserContext/setDefaultTimeout.md
  src/data/markdown/docs/30 k6-browser/02 API/02 BrowserContext/setDefaultTimeout.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

update docker run command
  src/data/markdown/docs/30 k6-browser/01 Get started/02 Running browser tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

changes as per review comments
  src/data/markdown/docs/30 k6-browser/01 Get started/02 Running browser tests.md
  src/data/markdown/docs/30 k6-browser/02 API/08 Locator/textcontent--options--.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

add redirect from xk6-browser to k6-browser
  gatsby-node.js
Due: prettier --write, eslint --fix

Added couchbase performance test extension
  src/data/doc-extensions/extensions.json
Due: none

Add 'Too many time series' to Performance Insights
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add some new vale rules
  .vale/Vocab/docs/accept.txt
  .vale/write-good/allows-you-to.yml
  .vale/write-good/in-order-to.yml
Due: none

REVERT: test vale rules
  src/data/markdown/docs/05 Examples/01 Examples/01 single-request.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove link to non-existant webpack config
  src/data/markdown/translated-guides/es/06 Testing Guides/04 Running large tests.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

refactor cloud options, fix internal links
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI/200 Cloud execution reference.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the cli.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/100 Cloud options.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/200 Load zones.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/300 Cloud tags.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/400 Cloud environment variables.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/999 Troubleshooting.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Logs Tab.md
  src/data/markdown/docs/03 cloud/03 Manage/04 Environment variables.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/03 Projects.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/02 Using k6/12 Execution context variables.md
  src/data/markdown/translated-guides/en/04 Test authoring/01 test builder.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
  src/data/markdown/translated-guides/es/02 Using k6/12 Execution context variables.md
  src/data/markdown/translated-guides/es/03 Test authoring/01 test builder.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

redirect links in Gatsby
  gatsby-node.js
Due: prettier --write, eslint --fix

Split "cloud tests in CLI" from "cloud script configuration" (#1049)
  gatsby-node.js
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI/200 Cloud execution reference.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the cli.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/100 Cloud options.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/200 Load zones.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/300 Cloud tags.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/400 Cloud environment variables.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/999 Troubleshooting.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/06 Logs Tab.md
  src/data/markdown/docs/03 cloud/03 Manage/04 Environment variables.md
  src/data/markdown/docs/03 cloud/05 Project and Team Management/03 Projects.md
  src/data/markdown/docs/03 cloud/07 Cloud reference/999 Release notes.md
  src/data/markdown/translated-guides/en/01 Get started/03 Running k6.md
  src/data/markdown/translated-guides/en/02 Using k6/12 Execution context variables.md
  src/data/markdown/translated-guides/en/04 Test authoring/01 test builder.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
  src/data/markdown/translated-guides/es/02 Using k6/12 Execution context variables.md
  src/data/markdown/translated-guides/es/03 Test authoring/01 test builder.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Cloud scripting extras, new list page
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

scripting extras, fix list page
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix broken relative links
  src/data/markdown/docs/03 cloud/01 Creating and running a test/300 Cloud scripting extras/100 Cloud options.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
