Repository grafana/k6-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix prose linting errors
  .vale/Vocab/docs/accept.txt
Due: none

Removes all "lets you" and "allows you to"
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Moves options page to k6-options/reference
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Bring config back to the diagram
  src/data/markdown/translated-guides/en/02 Using k6/images/Options/order-of-precedence.png
Due: none

Move config from hidden to collapsible
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/03 Options with config.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Restructures options page (#686)
  .vale/Vocab/docs/accept.txt
  gatsby-node.js
  src/data/markdown/docs/02 javascript api/06 k6-execution.md
  src/data/markdown/docs/02 javascript api/alternative main modules/06 k6-execution.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
  src/data/markdown/docs/03 cloud/02 Analyzing Results/08 Test Comparison.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
  src/data/markdown/translated-guides/en/02 Using k6/11 Environment variables.md
  src/data/markdown/translated-guides/en/02 Using k6/images/Options/order-of-precedence.png
  src/data/markdown/translated-guides/en/02 Using k6/images/Options/order-of-precedence.svg
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Options, removes OoP from reference
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds trailing slash to redirect path
  gatsby-node.js
Due: prettier --write, eslint --fix

Options, fixes to the order of precedence
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/01 How to.md
  src/data/markdown/translated-guides/en/02 Using k6/05 k6 Options/02 Reference.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fix: link HAR converter
  src/data/markdown/translated-guides/en/03 Test authoring/02 Recording a session/01 Browser recorder.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update Cloud release notes
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/03 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Reorder sidebar article
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/03 Private Load Zones.md
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/04 Release notes.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Fix broken URLs
  src/data/markdown/docs/02 javascript api/08 k6-http/10-del- url- -body-- -params- -.md
  src/data/markdown/docs/02 javascript api/08 k6-http/10-get- url- -params- -.md
  src/data/markdown/docs/02 javascript api/08 k6-http/10-haed- url- -params- -.md
  src/data/markdown/docs/02 javascript api/08 k6-http/10-options- url- -body-- -params- -.md
  src/data/markdown/docs/02 javascript api/08 k6-http/10-patch- url- -body-- -params- -.md
  src/data/markdown/docs/02 javascript api/08 k6-http/10-put- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-del- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-get- url- -params- -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-options- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-patch- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-put- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-del- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-options- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-patch- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-put- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Language improvements to scenarios and thresholds.
  src/data/markdown/translated-guides/en/02 Using k6/04 Thresholds.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

More urlurl URL fixes
  src/data/markdown/docs/02 javascript api/08 k6-http/10-batch- requests -.md
  src/data/markdown/docs/02 javascript api/08 k6-http/10-post- url- -body-- -params- -.md
  src/data/markdown/docs/02 javascript api/08 k6-http/10-request- method- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-batch- requests -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-post- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.34/javascript api/08 k6-http/10-request- method- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-batch- requests -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-get- url- -params- -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-post- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.35/javascript api/08 k6-http/10-request- method- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-batch- requests -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-del- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-get- url- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-haed- url- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-options- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-patch- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-post- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-put- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.36/javascript api/08 k6-http/10-request- method- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-batch- requests -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-del- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-get- url- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-haed- url- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-options- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-patch- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-post- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-put- url- -body-- -params- -.md
  src/data/markdown/versioned-js-api/v0.37/javascript api/08 k6-http/10-request- method- url- -body-- -params- -.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Specifies default value of MaxVUs
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Update jslib/utils uuidv4 documentation for v1.4.0
  src/data/markdown/docs/20 jslib/01 jslib/04 utils/44 uuidv4().md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Trims option description
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Specifies default value of MaxVUs (#697)
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/05 constant-arrival-rate.md
  src/data/markdown/translated-guides/en/02 Using k6/14 Scenarios/01 Executors/06 ramping-arrival-rate.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Test: programmatically builds Glossary w/ JS script and JSON data
  src/data/glossary/gloss.json
  src/data/glossary/vocab.js
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

lint js?
  src/data/glossary/vocab.js
Due: prettier --write, eslint --fix

Revise benefits of private load zones section
  src/data/markdown/docs/03 cloud/08 Cloud FAQ/03 Private Load Zones.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add terms and clean Gloss
  src/data/glossary/gloss.json
Due: none

Update terms and doc-making script
  src/data/glossary/gloss.json
  src/data/glossary/vocab.js
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: prettier --write, eslint --fix, eslint -c ./src/data/markdown/.eslintrc.js --fix

Builds markdown glossary from JSON
  src/data/glossary/gloss.json
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds new line
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

fixes json Term typo
  src/data/glossary/gloss.json
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

removes unneeded file
  src/data/glossary/vocab.js
Due: prettier --write, eslint --fix

Update 09 Glossary.md
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Clean up definitions
  src/data/glossary/gloss.json
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Prose lint fixes
  src/data/glossary/gloss.json
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add prefatory text
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

remove redundant language
  src/data/markdown/translated-guides/en/07 Misc/09 Glossary.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Add new cloud option: deleteSensitiveData
  src/data/markdown/docs/03 cloud/01 Creating and running a test/02 Cloud tests from the CLI.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Initial draft of empty iterations doc section
  src/data/markdown/docs/03 cloud/02 Analyzing Results/02 Performance Insights.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Adds cloud tutorial draft
  src/data/markdown/docs/03 cloud/01 Creating and running a test/03 Make a test.md
  src/data/markdown/docs/03 cloud/01 Creating and running a test/04 script editor.md
Due: eslint -c ./src/data/markdown/.eslintrc.js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,css,scss}
  eslint --fix: any of: *.{js,jsx}
  eslint -c ./src/data/markdown/.eslintrc.js --fix: any of: *.{md,mdx}
